/* Will be compiled down to a single stylesheet with your sass files */


/***********************************************
General Styles
************************************************/
.errorlist {
  padding-left:0;
}

.errorlist li {
    color:red;
    list-style: none;
}

.error, .errornote {
    color:red;
    margin:0;
}
/***********************************************
End General Styles
************************************************/

/***********************************************
Surgical Classes
************************************************/

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.no-margin {
  margin:0px;
}

.no-margin{
  margin:0;
}

.no-padding {
  padding:0;
}

.right {
  float:right;
}
.text-right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  float:left;
}

.bigger {
  font-size: 1.2em;
}

.toUpper {
  text-transform:uppercase;
}


.red {
  color:red;
}

.green {
  color:green;
}
/***********************************************
End Surgucal Classes
************************************************/


.faux-label {
  font-size:1.0em;
  color: #777;
  text-transform:uppercase;
  margin-bottom: 0;

}

.page-title {
  color: #777;
  margin-bottom: 20px;
}

.dashboard h1 {
  margin-top: 0;
}

.pager {
  margin: 0;
}
.pagination {
  margin: 0 0;
}

.acl-progress .tooltip.fade.bottom.in {
  right: -10px;
  left: auto!important;
  top: 20px!important;
}

.catch-report-summaries {
  margin-top: 10px;
}

/***********************************************
Top Navigation / Header Classes
************************************************/

#topnav {
    height: 90px;
    color: white;
    border-radius: 0;
    position: relative;
    padding-top: 20px;
    background: #00ABBA;
    background-color: #00ABBA;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgb(145, 205, 215)), color-stop(1, rgb(0, 171, 186)));
    background-image: -o-linear-gradient(left, #91CDD7 0%, #00ABBA 100%);
    background-image: -moz-linear-gradient(left, #91CDD7 0%, #00ABBA 100%);
    background-image: -webkit-linear-gradient(left, rgb(145, 205, 215) 0%, rgb(0, 171, 186) 100%);
    background-image: -ms-linear-gradient(left, #91CDD7 0%, #00ABBA 100%);
    background-image: linear-gradient(to left, rgb(145, 205, 215) 0%, rgb(0, 171, 186) 100%);
    border-radius: 0px;
    margin-bottom: 0px;
}
#topnav .navbar-brand {
  padding-top: 0;
  font-size: 20px;
}
#topnav .navbar-brand img {
  margin-right: 10px;
}

#topnav a {
    color: inherit;
}
#topnav .btn {
  color: rgb(24,24,24);
}


#topnav .dropdown:hover {
    color:#333;
    background-color: #EEEEEE;
}

#topnav .dropdown.open{
    color:#333;
    background-color: #EEEEEE;
}

#topnav .dropdown-menu {
  border:0;
  color:#333;
  background-color: #EEEEEE;
}

#topnav .dropdown-menu a:hover {
    background-color:#8BC9D2
}

/***********************************************
Top Navigation / Header Classes
***********************************************/

#sidenav_respondants {
    color: white;
    text-align: center;
}
#sidenav_respondants .row {
  margin-right: 0;
  margin-left: 0;
}
#sidenav_respondants h1 {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 20px;
}
#sidenav_respondants p {
    font-weight: bold;
    font-size: 0.85em;
}
#side_total {
    background: #5B9AA9;
}
#side_total h1 {
    font-size: 4em;
    margin-top: 10px;
}


#report-table td .label{
  font-size: 1.0em;
  cursor: 
}
.stats .row .box{
  padding-bottom: 10px;
}

.stats-minor .box {
  min-height: 115px;
}

.respondent-table th {
    background-color: #c7d8db;
}
.respondent-table table {
    color: #195d65;
    border-top: solid 1em #466b71;
    background-color: #dff2f4;
}
.respondent-table .table-stripe {
    background-color: #8bc9d2;
}
.respondent-table .highlightable_row:hover {
    background-color: #5b9aa9;
    color: #FFF;
    cursor: pointer;
}

#side_reviews_needed {
    background: #FD7C6F;
}
#side_flagged {
    background: #F6C432;
}

#sidenav_respondants .stats {
  margin-bottom: 10px;
}

#sidebar_nav {
    border-top: 10px solid #466B71;
    border-bottom: 10px solid #466B71;
    color: #195D68;
    text-transform: uppercase;
    font-weight: bold;
}
#sidebar_nav a {
    color: inherit;
    background: #EEEEEE;
}
#sidebar_nav a:hover {
    background: #AEDAE0;
}
#sidebar_nav a.active {
    background: #8BC9D2;
}
#sidenav_respondants form {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 10px solid #466B71;
}
  #sidenav_respondants form .form-group {
    padding-left: 0; padding-right: 0;
    /*width: 83%;*/
  }
  @media (min-width: 992px) {
    #sidenav_respondants form .form-group {
      /*width: 80%;*/
    } 
    #sidenav_respondants p {
    font-size: .75em;
    }
  }
#sidenav_respondants .btn {
  
}
.filter-box {
  margin-bottom: 10px;
} 
  .filter-box .date-range-picker {
    text-align: center;
  }
  .filter-box .search-group {
    padding-right: 5px;
    padding-left: 0;
  }
  .filter-box .search-input {
    margin-bottom: 0;
  }
.report-controls {
  margin-bottom: 10px;
}
.search-results {
  height: 200px; overflow-y: auto;
  margin: 10px 0;
}
.user-list .search-group {
  width: 80%;
}

.acl-list {
  height: 600px;
  overflow-y: auto;
}
.myLabel {
  position: relative !important;

}

.dashboard {
  margin-top: 30px;
}

.dashboard .range-slider {
  margin-left: 30px;
  margin-right: 30px;
}

.dash-table td {
    vertical-align: middle;
}
.dash-table p {
    text-align: left;
    margin: auto;
}
.dash-table .kpi-num {
  text-align: center;
  margin-top: 0;
}
.dash-table .icon-plus,
.dash-table .icon-mobile-phone,
.dash-table .icon-trash,
.dash-table .icon-edit {
    font-size: 24px;
}

.respondent-header {
    background-color: rgb(251, 169, 152) !important;
    cursor: pointer; 
    cursor: hand;
}
.darkSalmonBackground {
  background-color: rgb(239, 94, 70) !important;    
}

.page {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.page .btn-group {
  display: none;
}

.page:hover .btn-group {
  display: block;
}

.page > div > a{
  font-size: 18px;
}

.page.active {
  background-color: rgb(230, 126, 34);
  
}
.page.active > div > a{
  color: white;
}
.question > div > a{
  color: #555;
}

.author .nav {
  padding: 5px;
  height: 500px;
  overflow: auto;
  border: 2px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.author .nav.col-options {
  height: 230px;
}

body {
padding-top: 0px;
padding-bottom: 0px;
background-color: #F5F5F5;
}

body.login {
  background-color: #FFF;
}


.navbar {
    margin-bottom: 0;
}

.navbar-btn {
  margin-left: 10px;
}

.admin-edit {
    position: absolute;
    top: 10px;
}

.respondant {
max-width: 800px;
padding: 9px 29px 29px;
margin: 0 auto;
background-color: #fff;
border: 1px solid #e5e5e5;
/*-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;*/
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}

.question input[type="number"] {
    height: 40px;
}

.select-wrapper {
  border: none;
}

.select-wrapper .glyphicon {
  display:none;
}

.question .unit-select {
  height: 30px;
  font-size: 20px;
  width:100%;
}

.pull-right + .pull-right {
    margin: 0 5px;
}

.buttons {
    margin: 10px 0;
}
.buttons .btn {
    margin-left: 5px;
}
/*button[type='submit'] {
    margin-top: 15px;
    margin-bottom: 0px;
}*/
form {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 20px;
}

select + input {
    margin-top: 10px;
}

.pennies .icon-circle {
    font-size: 24px;
}

.dist-gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
}
.green {
    background-color: green;
    color: white;
}
.gridStyle .ngCellElement:focus {
    background-color: inherit;
}

.ngRow.even {
    background-color: rgb(253, 253, 253);
    /*background-color: rgb(243, 243, 243);*/
}
.ngRow.odd {
    background-color: rgb(253, 253, 253);
}
.ngRow.selected {
    background-color: rgb(253, 253, 253);
}

p.landing, p.info {
    margin-top: 30px;
    margin-bottom: 55px;
    font-size: 18px;
}
.acitivty-locations-intro p.info,
.pennies-intro p.info { 
    margin-bottom: 30px;
}
.question-title {
    font-size: 20px;
    font-weight: 500 !important;
    line-height: 26px;
    margin-bottom: 25px;
}
.modal-header .question-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.inset-info-section {
    margin-bottom: 40px;
    margin-left: 40px;
}
@media (max-width: 480px) {
    .inset-info-section {
        margin-left: 25px;
    }
}

ul + ul {
    margin-top: 10px;
}
.todo h3 {
    padding-left: 15px;
}
.todo li:nth-last-child(2) {
    border-radius: 0 0 6px 6px;
}
.todo li:first-child {
    border-radius: 6px 6px 0 0;
}
.todo li.option-group-name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; 
}

.modal .question {
    max-width: 100%;
}
.question .form {
    width: 100%;
}
.question textarea {
    width: 100%;
}
.progress .bar {
    -webkit-transition: none;
}

form .btn-block {
    width: 100%;
}
.todo-name {
    width: 90%;
}


/* Bootstrap override */
.progress {
    margin-bottom: 0;
}
.row-progress-bar, .row-progress-bar [class*="offset"],  .row-progress-bar [class*="span"] {
    min-height: 25px; /* instead of 30px */
}

@media (max-width: 767px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .respondant {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.resume {
    margin-bottom: 20px;
}

.ngTopPanel {
    height: auto !important;
}

.ngHeaderText {
    padding: 0 5px;
}

.dash .ngHeaderCell {
    text-transform: capitalize;
}



.select2-search-choice > div {
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.heatmap {
  height: 400px;
}

.panel-title .icon-spin {
  margin: 0;
  padding: 0;
}
.dash .map {
  height: 300px;
}
.map-container {
  position: relative;
}
.map-container i {
  font-size: 42px;
  
  z-index: 500;
  color: rgb(24,24,24);
}
.map-container .spinner-cover {
  background-color: rgb(1, 170, 186);
}
.map-container .spinner-container {
  position: absolute;
  z-index: 499;
  height: 50px;
  width: 50px;
  top: 40%;
  left: 45%;
}
.chart {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 250px;
  overflow: auto;
}
.btn .progress {
  width: 30px;
} 

.chart .btn {
  background: rgb(189, 195, 199);Ï€
  padding: 5px;
}
.acl {
  margin-top: 5px;
  margin-bottom: 10px;
}
.acl .btn {

  width: 170px;
  height: 70px;
  padding: 10px;
  margin: 10px;
}
  .dash .selected {
    outline: thin dotted rgb(51, 51, 51) !important;
    outline: 10px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
  }
  /*.chart table {
    width: auto;
  }*/
table {
  table-layout: fixed;
}

.tree .active {
  font-weight: bold;
}


/*****************************************************
Carousel Styles
******************************************************/
.acl-progress .carousel .chart {
  /*height: 350px;*/
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

@media (max-width: 991px){
  .acl-progress .carousel-inner {
    height:350px;
  }
  .acl-progress .carousel .carousel-control {
    font-size: 30px;
  }

  .family-legend {
    top: 70%;
  }

}

@media (min-width: 992px){
  .acl-progress .carousel-inner {
    height:400px;
  }

  .acl-progress .carousel .carousel-control {
    font-size: 48px;
  }

  .family-legend {
    top: 90%;
  }
}

.acl-progress .carousel .carousel-control {
  /*opacity: 0;*/
  filter:none;
  background-color:#F5F5F5;
  background-image: none !important;
  color: black;
  top: 70%;
}

.acl-progress .carousel .carousel-control:hover {
  cursor: pointer;
}
.carousel-inner .row>div:first {
  padding-left:20px;
}

.acl-progress .family-title {
  text-align: left;
  font-size: 18px;
}
.acl-progress .acl-result {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
.acl-progress .acl-result .info-sign {
  position: absolute;
  right: 0;
  top: 9px;

}
.acl-progress .acl-result .info-percent{
  position: absolute;
  top: 5px;

}
.acl-progress .acl-results {
  height: 400px;
  overflow: auto;
}



.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
  right: 10px;
  top: 43%;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-left {
  left: 10px;
  top: 43%;
}
.carousel-indicators {
  bottom: 5%;
}
.carousel-indicators li {
  background-color: rgb(64,63,65);
}
.carousel-indicators li.active {
  background-color: rgb(241,92,73);
}

.family-legend {
    position: absolute;
    font-size: 0.8em;
    width:100%;
    padding:0;
}

.legend-item {
  margin-bottom:1em;  
}

/*****************************************************
End Carousel Styles
******************************************************/

#header-bar {
  display: none;
}
#header-bar span {
  font-size: 48px;
}

.map {
  height: 400px !important;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative!important;
}
.summary .map {
  height: 250px !important;
}

/************************************************************
Question Options Styles
*************************************************************/
.select-content {
    background-color: rgb(246, 235, 194);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 10px;

}

.select-checked .select-content {
  background-color: rgb(1, 170, 186);
}


.select-content h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.select-content:hover {
  cursor: pointer;
  background-color: #5b9aa9;
}

.styled-select {
  background-color: rgb(246, 235, 194);
   width: 100%;
   overflow: hidden;
   border: 1px solid #ccc;
}

.styled-select:hover, .styled-select select:hover {
  background-color: #5b9aa9;
  cursor:pointer;
}

.styled-select select {
   background: transparent;
   padding: 5px;
   font-size: 1.0em;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.select.choices {
  margin-top:5px;
}
.panel-heading {
  background-color:#F5F5F5;
}

.panel-heading:hover {
  background-color: #5b9aa9;
} 

.option .checkbox, .select-unchecked .other-checkbox  {
    display: none;
    width: 15px;
    height: 15px;
    background-image: url(../assets/img/checkbox.png);
    float: right;
    margin: 0;
}
.select-checked .checkbox {
    display: block;
}

.multi-select-other, .single-select-other {
  width:100%;
  font-size: 1.3em;
  font-weight: 500;
}

.grid .row {
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.grid .row .cell {
    float: left;
}

.grid .row .cell.head {
    font-weight: bold;
    font-size: 1.2em;
}

.grid input, .grid select {
    width: 75%;
}
/************************************************************
End Question Options Styles
*************************************************************/
