/*

These styles are taken from oceanspaces.org and are used on the dash board.

*/

$os-bg-color:#f5f5f5;
$os-font-grey:#6C6C71;

$os-red: #c04504;   // This is used for highlight fonts
$os-lightred: #FBF8F2; // Used on button hover

$os-grey: #F7F7F7;  // This is the background color of the button.
$os-border-grey: #D6D6D6;  // This is the color of the button border.
$os-darkgrey:#CCCCCC;
$os-footergrey:#373e48;  // Used in the footer.



$os-darkblue: #004c72;
$os-lightblue: #70afb6; // Used on sideNav text hover over


$horizontal-gutter: 15px;
$vertical-gutter:15px;



.container-padding {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:30px;
}


header {
    border-bottom:1px solid $os-darkgrey;
}

footer {
    background-color:$os-footergrey;

    .nav-pills {
        a {
            color:#fff;
        }
        a:hover {
            color: #c24118;
            background: none;
            border: none;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color:$os-darkblue;
}

.main-content {
    
}


ul.dropdown-menu {
    background-color:white;
    width:400px;
    left: auto;
    right:0;
    padding:20px;
}

form {
    .form-required {
        color:red;
    }
    label {
        display:block;
        color:$os-font-grey;
    }
    input {
        width:100%;
    }

}

.os-btn {
    color: $os-red;
    font-size: 1.5em;
    line-height: 1;
    border: 3px solid $os-border-grey;
    border-radius: 25px;
    padding: 11px 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;

    .default{
      background-color: $os-grey;
    }
}

.user-menu{
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 800;
    margin:0;
    
    .greeting {
        color: $os-red;
        font-size: 1.5em;
        line-height: 1;
        // border:1px solid $os-border-grey;
        border-top:none;
        border-radius:0;
        font-size: 14px;
        padding: 11px 18px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;

    }
    li>.os-btn {
        border:1px solid $os-border-grey;
        border-top:none;
        border-radius:0;
        font-size: 14px;
    }
    .nav-tabs-inverse li {
        float:left;
    }
}

.os-btn:hover {
    background-color:$os-lightred;
    text-decoration: none;
    color: $os-red;
}
