body {
	background: #9cb9bf url(/static/survey/assets/img/oceanspaces-background.jpg) no-repeat top center;
	font-family: Arial,Verdana,MuseoSans-500;
}

.page-content {
	background-color: #CCD3D7;
}


/* Change all uppercase text to normal */
.btn-main,
#history-wrap .panel-heading,
.select-content, 
.accordion-heading,
.block-title,
.question-title,
.question .panel-heading {
	text-transform: none;
}