.chromeframe {
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: 1000;
	width: 400px;
	margin-left: -200px;

	background-color: white;
	padding: 20px;
	font-size: 16px;
    border: 1px solid #ddd;
}
.chromeframe a {
	color: blue;
}

/*
.logo-blue: #005072
.logo-green: #72AFB6
.accent-blue: #9FD7E1
.accent-gray: #AEB9BF
 */

body {
    background-color: #72AFB6;
}
.navbar {
    background-color: #005072;
    margin-bottom: 0;
}
.main .navbar {
    background-color: #72AFB6;
}
.status-bar {
    display: none; /*: #005072;*/
}
#wrap.menu-page > .container {
    padding-top: 90px;
}
.small-label {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
    color: white;
    margin-right: 5px;
}
.menu-page .progress {
    background-color: #AEB9BF;
}
.menu-page .progress {
    width: 200px;
}
.menu-page .progress,
.menu-page .progress .progress-bar {
    height: 16px;
}
.progress-container p.small-label {
    line-height: 15px;
}
@media (max-width: 400px) {
    .menu-page .progress {
        width: 100px;
    }
}

#page-controls {
    padding-top: 20px;
}
#page-controls .btn-nav {
    margin-left: 10px;
    text-transform: none;
    color: #01415C;
    background-color: #FFDC7B;
    border-color: #FFDC7B;
    border: none;
}
#page-controls .btn-nav.btn-primary.valid {
    background-color: #FABD12;
    border-color: #FABD12;
}
#page-controls .btn-nav.btn-primary.invalid {
    background-color: #FFDC7B;
    border-color: #FFDC7B;
}

h1, h2, h3, h4 {
    font-weight: 200;
}

.info-content p, .question-title {
    color: #002535;
}
.info-content p {
    font-size: 16px;
}
.info-content h3,
.block-title {
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: none;
}
.block-title {
    font-size: 24px;
}
/*.select-content {
    background-color: #306F8A !important;
}*/
.select .option-checked .select-unchecked .select-content {
    background-color: #306F8A !important;
}

.form-control, .question .form-control:focus, .unit-select {
    background-color: white;
}

.question textarea.form-control,
.question textarea.form-control:focus {
    padding-top: 5px;
    padding-bottom: 5px;
}


.page-content {
    margin-top: 25px;
}

@media (max-width: 500px) {
    .btn-main {
        font-size: 16px;
    }
}

/* override bootstrap's responsive styling 
   in the navbar */
@media (min-width: 768px) {
	.navbar-header {
		float: none;
	}
}

/* Override bootstrap's responsive styling 
   for the container width. Max 750px width. */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

.required-indicator {
    color: red;
    font-size: 22px;
}

#map-container {
	height: 100%;
}

.adding-marker .leaflet-container img {
	cursor: crosshair !important;
}
.leaflet-dragging .adding-marker .leaflet-container img {
    cursor: inherit !important;
}
.leaflet-container a.btn-add-marker {
    color: white;
}

.question-title {
    text-transform: none;
    /*font-size: 18px;
    margin-bottom: 5px;*/
    font-weight: normal;
    text-align: left;
    line-height: 22px;
}
.map-question-title {
    text-align: center;
    font-size: 20px;
}
.question-wrapper {
    padding-top: 5px;
}


/*
 * Map styles
 */

/* map-question class is added to body to allow for 
 * modifying some of the overall page setup */
.map-question .page-content {
    margin-top: 10px;
}
.map-question #page-controls {
    padding-top: 0;
}
.map-question .question-wrapper {
    margin-bottom: 0;
}

/* Control positioning */

.map-points {
	position: relative;
}
.map-controls {
	position: absolute;
	top: 10px;
	left: 10px;
    z-index: 1000;
}
.map-controls-container {
    background-color: #AEB9BF;
    background-color: rgba(174, 185, 191, 0.71);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.map-controls-container > p,
.map-controls-container > span,
.coordinate {
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    font-size: 16px;
    text-align: center;
}
.map-controls-container .error {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-top: 3px;
    border: solid 1px;
    border-color: red;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 0, 0, 0.5);
}
.map-controls-container .error .example {
    font-weight: normal;
}

.map-controls-coordinates-container {
    width: 300px;
}

.coordinate .coordinate-label {
    margin-right: 15px;
}
.coordinate,
.map-controls-container > p.coordinate {
    text-align: right;
}

.floatingMouseCoordinates {
    display: none;
    position: absolute;
    background-color: #AEB9BF;
    background-color: rgba(174, 185, 191, 0.71);
    padding: 6px;
    width: auto;
    z-index: 1000;
    margin-bottom: 0;
}
.floatingMouseCoordinates.visible {
    display: block;
}
.leaflet-dragging .floatingMouseCoordinates.visible {
    display: none;
}
.coordinate {
    font-size: 12px;
    margin-bottom: 0;
}
.coordinate .value {
    text-align: right;
}
.map-points .btn-danger {
    color: white;
}

.leaflet-popup-content-wrapper {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: white;
}

.leaflet-control-container .leaflet-top.leaflet-left {
    /* the zoom control is being forced to bottom left 
    while staying in the top left class (if time available, 
    we should just move the control the the bottom left class) */
    bottom: 15px;
    top: auto;
    left: 15px;
}
.leaflet-control-container .leaflet-bottom.leaflet-left {
    /* the layers control  just above the zoom control */
    bottom: 85px;
    left: 13px;
}

.ost-map {
    height: 500px;
    margin-top: 20px;
}
/*.ost-map {
    position: absolute;
    top: 260px;
    left: 20px;
    right: 20px;
    bottom: 0px;
}*/

/*@media (max-width: 500px) {
    .ost-map {
        position: absolute;
        top: 240px;
        left: 0px;
        right: 0px;
        bottom: 70px;
    }
}*/


/* Enlarged Zoom In/Out Controls */

.leaflet-control-zoom {
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;
    }
.leaflet-control-zoom {
    margin-left: 8px !important;
    padding: 0px !important;
    background: rgba(0, 0, 0, 0.5) !important;
    border: none;
    }
.leaflet-control-zoom a {
    background-color: white !important;
    }
.leaflet-control-zoom a, .leaflet-control-layers a {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    display: block;
    }
.leaflet-control-zoom a {
    -moz-border-bottom-radius: 0px !important;
    -webkit-border-bottom-radius: 0px !important;
    border-bottom-radius: 0px !important;    
    width: 36px !important;
    height: 33px !important;
    font-size: 28px !important;
    line-height: 32px !important;
    position: relative;
    padding: 0px;
    left: -1px;
    }
.leaflet-control-zoom a:hover {
    background-color: white !important;
    }
.leaflet-touch .leaflet-control-zoom a {
    width: 93px !important;
    height: 93px !important;
    }
.leaflet-control-zoom-in {
    background-size: 27px 27px !important;
    margin-bottom: 1px !important;
    }
.leaflet-control-zoom-out {
    background-size: 27px 27px !important;
    font: 46px/40px !important;
    }
.leaflet-control-zoom-out a {
    font-size: 46px !important;
    line-height: 40px !important;
    }

@media (max-width: 500px) {
    .leaflet-control-zoom  {
        display: none;
    }
}

#history-wrap .panel-body, 
#history-wrap .panel-body h1, 
#history-wrap .panel-body h2, 
#history-wrap .panel-body h3, 
#history-wrap .panel-body h4, 
#history-wrap .panel-body h5 {
    color: black;
}
#history-wrap .panel-default {
    padding-left: 0;
    padding-right: 0;
}
#history-wrap .btn-resume,
#history-wrap .btn-update {
    padding: 2px 5px; 
}
#history-wrap .label {
    font-size: 14px;
    font-weight: normal;
}
#history-wrap .panel-title {
    color: black;
}
#history-wrap .panel {
    margin-bottom: 17px;
}
#history-wrap .panel-heading {
    background-color: #FFDC7B;
    filter: alpha(opacity=65);
    border: none;
    padding: 9px 9px;
}
#history-wrap .panel-heading.open {
    background-color: #FABD12;
    filter: alpha(opacity=100);
}


.question .select .select-unchecked .select-content h4 {
    color: #000;
}

.question.error input,
.question.error input:focus {
    color: #b94a48;
    background-color: #f2dede !important;*/
    border-color: #ebccd1 2px solid;
    margin-bottom: 10px;
}
.alert-danger {
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: white;
    font-size: 16px;
    background-color: #b94a48;
    border-color: #b94a48;
}
.error-modal .modal-dialog,
.help-modal .modal-dialog {
    max-width: 430px;
}
.error-modal-header,
.help-modal-header {
    color: white;
    font-size: 18px;
    background-color: #b94a48;
    padding-top: 5px;
    padding-bottom: 5px;
}
.help-modal-header {
    background: #005072;
}
.error-modal-header,
.error-modal-footer,
.help-modal-header,
.help-modal-footer,
.modal-content {
    border-radius: 0;
}
.error-modal-body,
.help-modal-body {
    font-size: 16px;
}
.error-modal-body .btn-container,
.help-modal-body .btn-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.error-modal-body .btn,
.help-modal-body .btn {
    margin-bottom: 0;
}
.error-modal-body,
.help-modal-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.question .input-prepend {
    position: relative;
    z-index: 0;
}
.question .input-prepend input,
.question .input-prepend input:focus {
    padding-left: 20px;
}
.question .input-prepend .add-on {
    position: absolute;
    top: 8px;
    left: 6px;
    z-index: 100;
    font-weight: bold;
    font-size: 18px;
}

.thin-page .container {
    max-width: 500px;
}


.main .oceanspaces-logo {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.footer .prepend-point97-logo {
    margin-top: 60px;
    margin-bottom: 15px;
    font-weight: 200;
}
.footer .point97.logo {
    height: 50px;
}
.footer {
    text-align: center;
    color: #EEE;
    padding-bottom: 70px;
}


.navbar .container {
    position: relative;
}

.navbar-header img.oceanspaces.logo {
    position: absolute;
    top: 18px;
    right: 20px;
    height: 30px;
}

.navbar-header .center {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}
@media (max-width: 767px) {
    .navbar-header .center {
        font-size: 18px;
    }
    .navbar-header img.oceanspaces.logo {
        top: 22px;
        right: 20px;
        height: 20px;
    }
}
@media (max-width: 550px) {
    .navbar-header .center {
        padding-left: 50px;
    }
    .navbar-header img.oceanspaces.logo {
        display: none;
    }
}

.navbar .home-btn {
    z-index: 10;
    color: white;
}

.main h1.ost-title {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
}

.btn-main {
    background-color: #FABD12;
    text-transform: none;
    color: #01415C;
    border: none;
}
.btn-main:hover,
.btn-main.disabled, 
.btn-main[disabled], 
.btn-main:focus {
    color: #01415C !important;
    background-color: #b6b564 !important;
    text-shadow: none;
}

p.intro {
    color: #F1F1F1;;
    margin: 0 20px 50px 20px;
    font-size: 18px;
    font-weight: 200;
}

.main .btn-main {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    /*letter-spacing: 1px;*/
}

.login-container {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.btn-container {
    text-align: center;
}
.btn-container .btn-caption {
    margin: 0 50px; 
    text-align: left;
    color: #474747;
    font-size: 13px;
}
.new-user-form {
    /*max-width: 320px;*/
    /*margin-left: auto;
    margin-right: auto;*/
    font-size: 14px;
}
.new-user-form a {
    font-size: 14px;
}

.forgot-password {
    margin-top: 5px;
    color: #EEE;
    font-size: 14px;
}

.main .fieldset {
    margin-bottom: 0px;
}

p.sign-up {
    margin-top: 15px;
}
.loading-indicator {
    text-align: center;
}

.auth-separator {
    height: 0px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #FFF;
    position: relative;
    margin: 45px 0 30px 0;
}

.or-auth-separator {
    left: 38%;
    position: absolute;
    padding: 0px 16px;
    color: #EEE;
    background: #72AFB6;
    font-size: 14px;
    top: -7px;    
}

.main a:hover,
.main a:focus,
.main a:active {
    text-decoration: none;
}

@media (max-width: 550px) {
    .main h1.ost-title {
        font-size: 30px;
    }
}
@media (max-width: 450px) {
    .signin .btn-main {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .btn-container .btn-caption {
        margin: 0 15px; 
    }
    .main h1.ost-title {
        font-size: 26px;
    }
}


.panel-answers .panel-body h4 {
    padding-top: 10px;
}
.panel-answers .panel-body .answer {
    margin-top: 10px;
}

.answer-multi-select .groupname {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
}
.answer-multi-select .entry {
    padding-left: 15px;
}


.question.yes-no ul.option-unchecked,
.question.yes-no ul.option-checked {
    padding-left: 0;
}

.complete-page .btn-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}
.complete-page .btn-container .btn {
    font-size: 18px;
}