/* Use oceanspaces background */
body {
	background: #9cb9bf url(/static/survey/assets/img/oceanspaces-background.jpg) no-repeat top center;
}

.progress-container p.small-label {
    color: #002535;
}

.menu-page .progress .progress-bar {
	background-color: #005072;
}

/* Use oceanspaces font */
@font-face {
    font-family:'MuseoSans-700';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_0_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_0_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_0_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_0_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-300';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_1_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_1_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_1_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_1_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-900Italic';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_2_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_2_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_2_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_2_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-500';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_3_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_3_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_3_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_3_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-100';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_4_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_4_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_4_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_4_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-700Italic';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_5_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_5_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_5_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_5_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-300Italic';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_6_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_6_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_6_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_6_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-100Italic';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_7_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_7_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_7_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_7_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-500Italic';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_8_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_8_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_8_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_8_0.ttf) 
    format('truetype');
}

@font-face {
    font-family:'MuseoSans-900';
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_9_0.eot);
    src:url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_9_0.eot?#iefix) 
    format('embedded-opentype'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_9_0.woff) 
    format('woff'),url(http://oceanspaces.org/sites/all/themes/ost_panels/css/webfonts/2384BD_9_0.ttf) 
    format('truetype');
}

body {
	font-family: Arial,Verdana,MuseoSans-500 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: MuseoSans-300, Arial;
}


/* Change all uppercase text to normal */
.btn-main,
#history-wrap .panel-heading,
.select-content, 
.accordion-heading,
.block-title,
.question-title,
.question .panel-heading {
	text-transform: none;
}



/*
 *  White background container around page.
 */ 

.page-content {
	padding: 20px;
	-webkit-border-radius: 2px;
			border-radius: 2px;
	-webkit-box-shadow: 0 0 3px 2px #6C7175;
			box-shadow: 0 0 3px 2px #6C7175;
	-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .15);
			box-shadow: 0 0 3px 2px rgba(0, 0, 0, .15);
    background-color: white;
    opacity: 1.0 !important;
}


.page-content.extra-padding {
    padding-left: 35px;
    padding-right: 35px;
}

.page-content {
    color: #474747;
}

.form-control.ng-pristine, .unit-select.ng-pristine {
    border: 1px solid #BBB;
    color: #555; 
}

#wrap.menu-page > .container {
	padding-left: 10px;
	padding-right: 10px;
}

.block-title,
.question-title,
h1, h2, h3, h4, h5 {
    color: #002535;
}

.info-content h3 {
	margin-top: 0;
	font-size: 22px;
}
.info-content p {
    font-size: 13px;
    line-height: 20px;
}
.block-title,
.question-title {
	line-height: 24px;
}

/* Multi / single select grey & blue */

/* Grey if not selected */
.multi-select .option-unchecked .select-content,
.multi-select .option-checked   .select-unchecked .select-content,
      .select .option-unchecked .select-content,
      .select .option-checked   .select-unchecked .select-content {
	background-color: #AEB9BF !important;
}
/* Blue if selected */
.multi-select .select-checked .select-content,
.multi-select .select-checked .select-content .select-name,
	  .select .option-checked .select-checked .select-content,
      .select .option-checked .select-checked .select-content .select-name {
	background-color: #72AFB6 !important;/*005072*/
}
/* Grouped */
.question .panel-heading {
    background-color: #AEB9BF !important;
}
.select-content, .btn-main:active, .accordion-heading {
	background-color: #AEB9BF;
}
.question .panel-body .select-checked .select-content {
	background-color: #72AFB6 !important;
}

/* Sign in page */
.main .oceanspaces-logo {
	height: 50px;
}

.main h1.ost-title,
.or-auth-separator,
p.intro {
    color: #005072;
}

.or-auth-separator {
	background-color: white;
	color: #474747;
	top: -9px;
}

.sign-up a,
.forgot-password {
	color: #005A84;
}
.signin-form .forgot-password {
	font-size: 14px;
}

.footer .prepend-point97-logo {
	margin-top: 0;
}
.error {
	font-size: 16px;
}


/* Multi / single select light blue & dark blue */

/* Dark blue if not selected */
.multi-select .option-unchecked .select-content,
.multi-select .option-checked   .select-unchecked .select-content,
      .select .option-unchecked .select-content,
      .select .option-checked   .select-unchecked .select-content {
	background-color: #005072 !important;
}
.multi-select .option-unchecked .select-unchecked .select-content .select-name,
      .select .option-unchecked .select-content .select-name,
      .select .option-checked   .select-unchecked .select-name,
.grouped-options .panel-title {
	color: white !important;      	
}

/* Light blue if selected */
.multi-select .select-checked .select-content,
.multi-select .select-checked .select-content .select-name,
	  .select .option-checked .select-checked .select-content,
      .select .option-checked .select-checked .select-content .select-name {
	background-color: #72AFB6 !important;
}

/* Grouped */
.question .panel-heading {
    background-color: #005072 !important;
}
.select-content, .btn-main:active, .accordion-heading {
	background-color: #AEB9BF;
}
.question .panel-body .select-checked .select-content {
	background-color: #72AFB6 !important;
}
.question .panel-body .select-unchecked .select-content .select-name {
	color: #000;
}
.question .panel-body .select-checked .select-content .select-name {
	color: #000;	
}
/* Grouped multi-select needs this extra bit */
.info .panel-heading h4, .question .panel-title {
	color: white;
	cursor: pointer;
}


/* Other */
::-webkit-input-placeholder {
	color: white !important;
}


/*
 *
 *  Increase page width for maps.
 * 
 */
body.map-question .container {
	margin: 0;
	width: auto;
}

@media (min-width: 768px) {
	body.map-question .container {
		width: auto;
	}
}

.map-question #page-controls {
    padding-top: 20px;
}