.chromeframe {
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: 1000;
	width: 400px;
	margin-left: -200px;

	background-color: white;
	padding: 20px;
	font-size: 16px;
}
.chromeframe a {
	color: blue;
}

/* override bootstrap's responsive styling 
   in the navbar */
@media (min-width: 768px) {
	.navbar-header {
		float: none;
	}
}

/* Override bootstrap's responsive styling 
   for the container width. Max 750px width. */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}