/******************************************************
Respondent Table Styles
******************************************************/

th {
  text-align:center;
  color:$os-red;
  background:$os-grey;
}

th.orderable:hover {
  cursor:pointer;
  background: #AEDAE0;
}
tr.respondent:nth-child(odd){
  background:$os-bg-color;
}

tr.respondent:nth-child(even){
  background:$os-lightred;
}


tr.respondent:hover {
  background: #AEDAE0;
  cursor: pointer;
}

/******************************************************
End Respondent Table Styles
******************************************************/