/******************************************************
Respondent Table Styles
******************************************************/

th {
  text-align:center;
  color:$os-red;
  background:$os-grey;

  .glyphicon {
      color:$os-darkgrey;
  }

}

th.orderable:hover {
  cursor:pointer;
  color: $os-lightblue;

}
tr.respondent:nth-child(odd){
  background:#fff;
}

tr.respondent:nth-child(even){
  background:$os-lightred;
}


tr.respondent:hover {
  background:  $os-lightblue;
  cursor: pointer;
}

/******************************************************
End Respondent Table Styles
******************************************************/