#sidenav {
    
    color: white;
    text-align: center;
    font:$side-nav-font;
    .row {
      margin-right: 0;
      margin-left: 0;
    }

    img {
        width:100%;
    }

    h1 {
        font-weight: bold;
        margin-bottom: 2px;
    }

    p {
        font-weight: bold;
        font-size: 0.85em;
    }
}


#side_total {
    background: #5B9AA9;
    h1 {
        font-size: 4em;
        margin-top: 10px;
    }
}

.stats .row .box{
  padding-bottom: 10px;

}
#side_completed {
    background: #FD7C6F;
}
#side_started {
    background: #F6C432;
}



.sidebar_nav {
    background-color:#FFF;
    margin-top: 10px;
    /*border-bottom: 10px solid #466B71;*/
    color: #195D68;
    // text-transform: uppercase;
    

    ul {
        padding-left:0;
    }
    li {
        list-style: none outside none !important;
        height: 50px;
        min-height: 50px;
        border-bottom:1px solid $os-border-grey;
        text-align: left;
    }

    a {
        display: block;
        padding: 12px 25px;
        min-height: 50px;
        font-size: 19px;
        color: inherit;
    }

    a:hover {
        color: $os-lightblue !important;
        text-decoration: none;
    }

    a.active {
        color: $os-lightblue;
    }
}

.search {
    input {
        border:none;
    }
}

