/**********************************
General Surgical Classes Go Here 
***********************************/

.centered, .center {
    text-align:center;
}

.padding-top {
    padding-top:10px;
}

.padding-bottom {
    padding-bottom:10px;
}
