<div class="container dash-ecosystems" ng-cloak>
    <div class="row">
        <div ng-include="'/static/survey/views/sideNav.html'"></div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>MPA Monitoring Framework Survey: Central Coast Project Information</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 clearfix">
                    <div dash-filter 
                        placeholder-text="'Select Ecosystem Feature'" 
                        allow-multi-select=true 
                        survey-slug="'monitoring-project'" 
                        question-slug="'ecosystem-features'" 
                        selected-values="filters['ecosystem-features']" 
                        class="pull-right"></div>
                </div>
            </div>
            <div class="row" ng-hide="filter_results">
                <div class="col-md-12 col-sm-12">No data for found.</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h2>{{ ecosystem_project_counts.title }}</h2>
                        <div class="error">{{ ecosystem_project_counts.message }}</div>
                        
                        <div bar-chart chart="ecosystem_project_counts"></div>
                    
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div> 