<!-- 
    
    This is the public facing respondent view. 
    It is used by the dashboard. It calls surveyAnswerPublic.html to show the answers 
    
    If you want to edit the survey one use ost-respondent-datail.html instead

-->
<div class="container dash-ecosystems" ng-cloak>
    <div class="row">
        <div ng-include="'/static/survey/views/sideNav.html'"></div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div ng-include="'/static/survey/views/ost/dash-header.html'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9">
                    <a back class="os-btn default margin-top"><span class="glyphicon glyphicon-chevron-left"></span>  Back</a>
                </div>
            </div>

          <!--   <div class="row" ng-hide="respondent.complete"> 
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <a href="javascript:void(0)" ng-click="resumeSurvey(respondent); $event.stopPropagation();" class="btn btn-primary btn-main btn-resume">Resume</a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <a href="javascript:void(0)" ng-click="deleteRespondent(respondent); $event.stopPropagation();" class="btn btn-primary btn-main btn-resume">Delete</a>
                </div>
            </div> -->
            
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div ng-include="viewPath + 'views/ost/answers/surveyAnswers.html'"></div>
                </div>
            </div> 
            <div class="row">
                <div ng-include="'/static/survey/views/ost/dash-footer.html'"></div>
            </div>
        </div>
    </div>  

</div>

