<div class="container dash-overview" ng-cloak>
    <div class="row">
        <div ng-include="'/static/survey/views/sideNav.html'"></div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>central coast monitoring efforts</h3>
                    <h4>monitoring activities: [dynamic title]</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>TEXT NEEDED</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Explore results by filtering for specific ecosystems or project lengths to the left.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div dash-map-ost
                         question-slug-pattern="mapSettings.questionSlugPattern"
                         lat="mapSettings.lat"
                         lng="mapSettings.lng"
                         zoom="mapSettings.zoom"
                         points="mapSettings.mapPoints"
                         units="mapSettings.mapUnits"
                         boundary-path="'/static/survey/data/oceanspaces_ca_cc_boundary.json?v=2'"
                         slug-to-color="ecosystemSlugToColor(slug)"
                         slug-to-label="ecosystemSlugToLabel(slug)"
                         ></div>
                </div>
            </div>

            <div class="row" id="map-legend">
                <div class="col-sm-12">
                    <h4>Ecosystem Feature</h4>
                    <ul class="list-unstyled">
                        <li ng-repeat="slug in uniqueEcosystemFeatureSlugs">
                            <div class="circle pull-left" ng-style="{'background-color': ecosystemSlugToColor(slug)};">&nbsp;</div> 
                            {{ecosystemSlugToLabel(slug)}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <h3>Projects</h3>
                <table id="report-table" class="table">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Organization</th>
                            <th>Ecosystem features monitored</th>
                            <th>Duration</th>
                            <th>Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="respondent in respondents">
                        <td>{{ respondent.project_name }}</td>
                        <td>{{ respondent.organization_name }}</td> <!-- link if availble? -->
                        <!-- <td>{{ respondent.ecosystem_features }}</td> -->
                        <td>
                            <ul>
                                <li ng-repeat="ef in respondent.ecosystem_features.split(';')">{{ef}}</li>
                            </ul>
                        </td>
                        <td>{{ respondent.duration }}</td>
                        <td>{{ respondent.frequency }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-left">
                    Showing {{ meta.offset + 1 }}-{{ meta.offset + meta.limit }} of {{ meta.total_count }}
                </div>
                <div class="pull-right">
                    <div pagination 
                        total-items="meta.total_count" 
                        items-per-page="8" 
                        max-size="8" 
                        page="currentPage"
                        previous-text="&lsaquo;" 
                        next-text="&rsaquo;" 
                        first-text="&laquo;" 
                        last-text="&raquo;" 
                        on-select-page="goToPage(page)">
                    </div>
                </div>
            </div>





<!--             <div class="row">
                <div class="col-sm-12">
                    <div bar-chart chart="charts['proj-data-years']"></div>
                </div>
            </div> -->
        

<!--             <div class="row">
                <h3>Matching Reports</h3>
                <table id="report-table" class="table">
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Organization</th>
                        <th>Ecosystem features monitored</th>
                        <th>Duration</th>
                        <th>Frequency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="respondent in respondents">
                        <td>{{ respondent.project_name }}</td>
                        <td>{{ respondent.organization_name }}</td>
                        <td>
                            <ul>
                                <li ng-repeat="ef in respondent.ecosystem_features.split(';')">{{ef}}</li>
                            </ul>
                        </td>
                        <td>{{ respondent.duration }}</td>
                        <td>{{ respondent.frequency }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-left">
                    Showing {{ meta.offset + 1 }}-{{ meta.offset + meta.limit }} of {{ meta.total_count }}
                </div>
                <div class="pull-right">
                    <div pagination 
                        total-items="meta.total_count" 
                        items-per-page="8" 
                        max-size="8" 
                        page="currentPage"
                        previous-text="&lsaquo;" 
                        next-text="&rsaquo;" 
                        first-text="&laquo;" 
                        last-text="&raquo;" 
                        on-select-page="goToPage(page)">
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div> 