<header>
    <nav class="user-menu">
        <ul class="nav nav-tabs-inverse">
            <li ng-show="user.username">
                <span class="greeting">Welcome {{user.username}} </span>
            </li>
            <li ng-show="user.username && user.is_superuser">
                <a href="/admin" class="os-btn default">ADMIN</a>
            </li>
            <li ng-show="user.username">
                <a href="/logout" class="os-btn default">LOG OUT</a>
            </li>
            <li ng-hide="user.username" class="dropdown">
                <a href="/admin?next=dash" data-toggle="dropdown" class="dropdown-toggle os-btn default">LOGIN</a>
                <ul class="dropdown-menu" role="menu">
                <form novalidate>
                    <div>
                        <div>
                            <label>USERNAME <span class="form-required">*</span></label>
                            <input type="text" ng-model="credentials.username" required>
                        </div>
                        <div>
                            <label>PASSWORD <span class="form-required">*</span></label>
                            <input type="password" ng-model="credentials.password" required>
                        </div>
                        <div>
                            <button class="os-btn default" 
                                    ng-click="authenticate_user(credentials);"
                                    ng-disabled="!credentials.username || !credentials.password"
                                    >LOG IN</button>
                            <span ng-show="credentials.failed" class="form-required">Login failed.</span>
                        </div>
                    </div>
                </form>

                </ul>
            </li>

        </ul>
    </nav>

    <div class="container-padding">
        <h1>Explore Central Coast Monitoring</h1>
        <h3>{{page_title}}</h3>
    </div>


</header>