
<div class="clearfix">

    <select class="pull-right" placeholder="Select Ecosystem Feature" multiple=true ng-model="question.filters[question.slug]" ui-select2 style="width: 200px">
<!--         <option value="a">
            <strong>Rocky Intertidal Ecosystems</strong>
        </option>
        <option value="b">
            <strong>Kelp and Shallow (0-30m) Rock Ecosystems</strong>
        </option> -->
        <option value="{{answer}}" ng-repeat="answer in ecosystems">
            <strong>{{answer}}</strong>
        </option>
    </select>

    <select class="pull-right" placeholder="Select Species/Indicator" multiple=true ng-model="question.filters[question.slug]" ui-select2 style="width: 200px">
        <option value="a">
            <strong>Rocky Intertidal Ecosystems</strong>
        </option>
        <option value="b">
            <strong>Kelp and Shallow (0-30m) Rock Ecosystems</strong>
        </option>
        <!-- <option value="{{answer.answer}}" ng-repeat="answer in question.answer_domain">
            <strong>{{answer.answer}}</strong>
        </option> -->
    </select>
    
<!--     <div ng-repeat="filterQuestion in question.filterQuestions" >
        <select class="pull-right" placeholder="Select Species/Indicator" multiple=true ng-model="question.filters[filterQuestion.slug]" ui-select2 style="width: 200px">
            <option value="{{answer.answer}}" ng-repeat="answer in filterQuestion.answer_domain">
                <strong>{{answer.answer}}</strong>
            </option>
        </select>
    </div> -->
    
    <!-- <dl ng-repeat="(slug, filter) in question.filters">
        <dt>{{ getFilterLabelBySlug(slug) }}:</dt>     
        <dd ng-show="filter.length" ng-repeat="filterItem in filter">{{filterItem}}</dd>
        <dd ng-hide="filter.length">all</dd>
    </dl> -->

</div>