<div class="container dash-ecosystems" ng-cloak>
    <div class="row">
        <div ng-include="'/static/survey/views/sideNav.html'"></div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>central coast monitoring efforts</h3>
                    <h4>community overview</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div nvd3-pie-chart 
                        id="donut-org-type"
                        data="charts['org-type'].answer_domain"
                        x="xFunction()"
                        y="yFunction()"
                        width="350"
                        height="350"
                        showLabels="true"
                        tooltips="true"
                        donut="true"
                        donutLabelsOutside="true"
                        interactive="true">
                        <svg></svg>
                    </div>                
                </div>
                <div class="col-sm-6">
                    <div nvd3-pie-chart 
                        id="donut-proj-num-people"
                        data="charts['proj-num-people'].answer_domain"
                        x="xFunction()"
                        y="yFunction()"
                        width="350"
                        height="350"
                        showLabels="true"
                        tooltips="true"
                        donut="true"
                        donutLabelsOutside="true"
                        interactive="true">
                        <svg></svg>
                    </div>                
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div bar-chart chart="charts['proj-data-years']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div bar-chart chart="charts['proj-data-frequency']"></div>
                </div>
            </div>
        
        </div>
    </div>
</div> 