<table id="report-table" class="table" >
    <thead>
    <tr>
        <th class="orderable" ng-click="setOrderBy('project_name');" >Project 
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'project_name', 
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-project_name',
                             'glyphicon-sort':orderBy !== 'project_name'
                             }">
            </span>
        </th>
        
        <th class="orderable" ng-click="setOrderBy('organization_name');">Organization 
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'organization_name', 
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-organization_name',
                             'glyphicon-sort':orderBy !== 'organization_name'
                             }">
            </span>
        </th>
        <th>Ecosystem Features</th>
        <th class="orderable" ng-click="setOrderBy('duration');" >Duration
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'duration',
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-duration',
                             'glyphicon-sort':orderBy !== 'duration'
                             }">
            </span>
        </th>
        <th class="orderable" ng-click="setOrderBy('frequency');" >Frequency
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'frequency',
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-frequency',
                             'glyphicon-sort':orderBy !== 'frequency '
                             }">
            </span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class='respondent' ng-repeat="respondent in respondents | orderBy:orderBy" ng-click='showRespondent(respondent)'>
        <td>{{ respondent.project_name }}</td>
        <td>{{ respondent.organization_name }}</td> <!-- link if availble? -->
        <!-- <td>{{ respondent.ecosystem_features }}</td> -->
        <td>
            <ul>
                <li ng-repeat="ef in respondent.ecosystem_features.split(';')">{{ef}}</li>
            </ul>
        </td>
        <td>{{ respondent.duration }}</td>
        <td>{{ respondent.frequency }}</td>
    </tr>
    </tbody>
</table>


<div class="pull-left">
    Showing {{ meta.offset + 1 }}-{{ meta.offset + meta.limit }} of {{ meta.total_count+1 }}
</div>
<div class="pull-right">
    <div pagination 
        total-items="meta.total_count" 
        items-per-page="8" 
        max-size="8" 
        page="currentPage"
        previous-text="&lsaquo;" 
        next-text="&rsaquo;" 
        first-text="&laquo;" 
        last-text="&raquo;" 
        on-select-page="goToPage(page)">
    </div>
</div>