<div class="container dash-ecosystems" ng-cloak>
    <div class="row">
        <div ng-include="'/static/survey/views/sideNav.html'"></div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>central coast monitoring efforts</h3>
                    <h4>community overview</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>TEXT NEEDED</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div pie-chart chart="charts['org-type']"></div>
                </div>
                <div class="col-sm-6">
                    <div pie-chart chart="charts['proj-num-people']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div bar-chart chart="charts['proj-data-years']"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div bar-chart chart="charts['proj-data-frequency']"></div>
                </div>
            </div>
        

            <div class="row">
                <h3>Matching Reports</h3>
                <table id="report-table" class="table">
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Organization</th>
                        <th>Ecosystem features monitored</th>
                        <th>Duration</th>
                        <th>Frequency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="respondent in respondents">
                        <td>{{ respondent.project_name }}</td>
                        <td>{{ respondent.organization_name }}</td> <!-- link if availble? -->
                        <!-- <td>{{ respondent.ecosystem_features }}</td> -->
                        <td>
                            <ul>
                                <li ng-repeat="ef in respondent.ecosystem_features.split(';')">{{ef}}</li>
                            </ul>
                        </td>
                        <td>{{ respondent.duration }}</td>
                        <td>{{ respondent.frequency }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-left">
                    Showing {{ meta.offset + 1 }}-{{ meta.offset + meta.limit }} of {{ meta.total_count }}
                </div>
                <div class="pull-right">
                    <div pagination 
                        total-items="meta.total_count" 
                        items-per-page="8" 
                        max-size="8" 
                        page="currentPage"
                        previous-text="&lsaquo;" 
                        next-text="&rsaquo;" 
                        first-text="&laquo;" 
                        last-text="&raquo;" 
                        on-select-page="goToPage(page)">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> 