<h3>How Will My Responses Be Used?</h3>
<p>Thank you for taking this survey! Your responses will help to build a cost-effective, partnerships-based marine protected area (MPA) monitoring program in the Central Coast. Here are a few important things to know:</p>

<ul>
<li><strong>Most of the information you share with us through this survey will be publicly-accessible</strong> in the Central Coast Survey Dashboard on OceanSpaces.org, available mid-summer 2014. This will give you and others a chance to explore data about research and monitoring in the region.</li>

<li>Responses that will not be included in the public dashboard are indicated by the ‘Not Public’ icon: [insert NP icon here]</li>

<li>We may share any of your responses with our state partners and funders as part of the process of building an MPA Monitoring program in the Central Coast.</li>
</ul>

<p>Please contact Benét Duncan at <a href="mailto:benet.duncan@calost.org">benet.duncan@calost.org</a> with any questions about the purpose and use of this survey, and MPA monitoring in the Central Coast and beyond.</p>

<p>Please contact <a href="mailto:surveysupport@oceanspaces.org">surveysupport@oceanspaces.org</a> with any technical questions about this survey.</p>
