<h3>Who should take this survey?</h3>
<p>You should only take this survey if you are actively involved in managing or overseeing a monitoring project in the Central Coast. If you have any questions about whether or not to take the survey, please contact Benét Duncan at <a href="benet.duncan@calost.org">benet.duncan@calost.org</a>.</p>

<h3>How Will My Responses Be Used?</h3>
<p>Thank you for taking this survey! Your responses will help to build a cost-effective, partnerships-based marine protected area (MPA) monitoring program in the Central Coast. Here are a few important things to know:</p>

<ul>
<li><strong>Most of the information you share with us through this survey will be publicly-accessible</strong> in the Central Coast Survey Dashboard on OceanSpaces.org, available mid-summer 2014. This will give you and others a chance to explore survey results.</li>

<li>Responses that will not be included in the public dashboard are indicated by the ‘Not Public’ icon: <strong><i class="icon icon-eye-close not-public-icon" ng-show="true"></i></strong></li>

<li>We may share any of your responses with our state partners and funders as part of the process of building an MPA monitoring program in the Central Coast.</li>
</ul>

<p>Please contact Benét Duncan at <a href="mailto:benet.duncan@calost.org">benet.duncan@calost.org</a> with any questions about the purpose and use of this survey and MPA monitoring in the Central Coast and beyond.</p>

<!--<p>Please contact <a href="mailto:surveysupport@oceanspaces.org">surveysupport@oceanspaces.org</a> with any technical questions about this survey.</p>-->
