<h3>Project Information: Monitoring in Ecosystem Features</h3>
<p>In California, MPA monitoring is organized into 10 Ecosystem Features. In the following exercise, we’d like to understand how your project maps onto this framework.</p>

<p>Please select the Ecosystem Feature(s) in which your project collects ecological or human use data. If your project does not collect ecological or human use data in these Ecosystem Features, please select the Contextual Data option below.</p>

<p>Please note that if you select the Contextual Data option, you will not be able to select any additional Ecosystem Features below.</p>

<p>Click on the information button for definitions of each Ecosystem Feature.</p>

