<div class="modal-header help-modal-header">
	<!-- <span class="glyphicon glyphicon-info-sign"></span> -->
	<span>Descriptions of Ecosystem Features</span>
</div>
<div class="modal-body help-modal-body">
	<p>Following are definitions of the 10 Ecosystem Features, identified as the key habitat types and human uses in California MPAs. These definitions are for the purposes of MPA monitoring, and they reflect the jurisdictional limit of the Marine Life Protection Act. Click an Ecosystem Feature link to view its description.</p>
	<ul>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#rocky')">
			Rocky Intertidal Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#kelp')">
			Kelp and Shallow Rock Ecosystems (0-30m)
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#mid-depth')">
			Mid-depth Rock Ecosystems (30-100m)
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#estuarine')">
			Estuarine and Wetland Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#soft-intertidal')">
			Soft-bottom Intertidal and Beach Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#soft-subtidal')">
			Soft-bottom Subtidal Ecosystems (0-100m)
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#deep')">
			Deep Ecosystems and Canyons (>100m)
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#nearshore')">
			Nearshore Pelagic Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#consumptive')">
			Consumptive Uses
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#non-consumptive')">
			Non-consumptive Uses
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#contextual')">
			Contextual Data Only
		</a></li>
	</ul>

	<div class="def-container">
		<dl>
			<dt id="rocky">Rocky Intertidal Ecosystems</dt>
			<dd>Include areas of rock substrate occurring within the zone between mean high water and mean lower low water. This Ecosystem Feature includes exposed rocky cliffs, boulder rubble, exposed wave-cut platforms, and sheltered rocky shores.</dd>
			<dt id="kelp">Kelp and Shallow Rock Ecosystems (0-30m)</dt>
			<dd>Encompass rocky substrates both with and without overlying kelp forests.</dd>
			<dt id="mid-depth">Mid depth Rock Ecosystems (30-100m)</dt>
			<dd>Consist of rocky outcrops and pinnacles that range in depth from 30-100m.</dd>
			<dt id="estuarine">Estuarine and Wetland Ecosystems</dt>
			<dd>Encompass soft-sediment habitats, including tidal mudflats, eelgrass beds, and areas of open water. These systems have a shoreward boundary at the extent of tidal reach and salt-water-associated vegetation.</dd>
			<dt id="soft-intertidal">Soft-bottom Intertidal and Beach Ecosystems</dt>
			<dd>Are wave-dominated areas of sand and gravel substrate occurring below mean high water and above mean lower low water.</dd>
			<dt id="soft-subtidal">Soft bottom Subtidal Ecosystems (0-100m)</dt>
			<dd>Encompass the area of sediment substrate occurring at depths between mean lower low water and 100m.</dd>
			<dt id="deep">Deep Ecosystems and Canyons (>100m)</dt>
			<dd>Include both rocky and soft-bottom substrates in waters below 100m.</dd>
			<dt id="nearshore">Nearshore Pelagic Ecosystems</dt>
			<dd>Consist of the water column overlaying the continental shelf in state waters at depths greater than 30m.</dd>
			<dt id="consumptive">Consumptive Uses</dt>
			<dd>Encompass human use activities that involve the extraction of living marine resources. In the Central Coast region, this includes hand-collecting species on shore, by snorkeling, or by SCUBA diving and commercial and recreational fishing on shore or by boat.</dd>
			<dt id="non-consumptive">Non-consumptive Uses</dt>
			<dd>Include non-extractive shore-based and/or on-water recreational activities, including beach-going, diving, kayaking, board sports, and wildlife viewing.</dd>
			<dt id="contextual">Contextual Data Only (No Ecological Monitoring)</dt>
			<dd>Waiting for final text from OST.</dd>
		</dl>
	</div>


    <div class="btn-container">
		<button class="btn btn-main" ng-click="ok()">&nbsp;&nbsp;Done&nbsp;&nbsp;</button>
    </div>
</div>
<!-- <div class="modal-footer help-modal-footer">
    
</div>
 -->
