<div class="modal-header help-modal-header">
	<!-- <span class="glyphicon glyphicon-info-sign"></span> -->
	<span>Descriptions of Ecosystem Feature Types</span>
</div>
<div class="modal-body help-modal-body">
	<ul>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#rocky')">
			Rocky Intertidal Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#kelp')">
			Kelp and Shallow (0-30m) Rock Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#mid-depth')">
			Mid depth (30-100m) Rock Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#estuarine')">
			Estuarine and Wetland Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#soft-intertidal')">
			Soft-bottom Intertidal and Beach Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#soft-subtidal')">
			Soft bottom Subtidal (0-100m) Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#deep')">
			Deep Ecosystems and Canyons (>100m)
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#nearshore')">
			Nearshore Pelagic Ecosystems
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#consumptive')">
			Consumptive Uses
		</a></li>
		<li><a href="javascript:void(0)" ng-click="scrollToDef('#non-consumptive')">
			Non-consumptive Uses
		</a></li>
	</ul>

	<div class="def-container">
		<dl>
			<dt id="rocky">Rocky Intertidal Ecosystems</dt>
			<dd>NEED TEXT</dd>
			<dt id="kelp">Kelp and Shallow (0-30m) Rock Ecosystems</dt>
			<dd>NEED TEXT</dd>
			<dt id="mid-depth">Mid depth (30-100m) Rock Ecosystems</dt>
			<dd>NEED TEXT</dd>
			<dt id="estuarine">Estuarine and Wetland Ecosystems</dt>
			<dd>NEED TEXT</dd>
			<dt id="soft-intertidal">Soft-bottom Intertidal and Beach Ecosystems</dt>
			<dd>NEED TEXT</dd>
			<dt id="soft-subtidal">Soft bottom Subtidal (0-100m) Ecosystems</dt>
			<dd>NEED TEXT</dd>
			<dt id="deep">Deep Ecosystems and Canyons (>100m)</dt>
			<dd>NEED TEXT</dd>
			<dt id="nearshore">Nearshore Pelagic Ecosystems</dt>
			<dd>NEED TEXT</dd>
			<dt id="consumptive">Consumptive Uses</dt>
			<dd>NEED TEXT</dd>
			<dt id="non-consumptive">Non-consumptive Uses</dt>
			<dd>NEED TEXT</dd>
		</dl>
	</div>


    <div class="btn-container">
		<button class="btn btn-main" ng-click="ok()">&nbsp;&nbsp;Done&nbsp;&nbsp;</button>
    </div>
</div>
<!-- <div class="modal-footer help-modal-footer">
    
</div>
 -->