<div class="modal-header">
    <h3 class="modal-title">Understanding Survey Results</h3>
</div>
<div class="modal-body">
    <p>To dive deeper into Central Coast Monitoring Survey results:</p>
    <ul>
        <li>Search on any term of interest to find monitoring projects containing that information.</li>
        <li>Explore who is monitoring in the California Central Coast on the Explore Community page.</li>
        <li>Explore what is being monitored and where monitoring is occurring on the Monitoring Activity page.</li>
        <li>Filter monitoring projects by ecosystem features uniquely or in combination. Click in the filter field to activate filters.</li>
        <li>Learn more about each monitoring project by clicking on the project in the table at the bottom of the page.</li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>