<div class="modal-header help-modal-header">
	<span class="glyphicon glyphicon-question-sign"></span>
	<span>Help</span>
</div>
<div class="modal-body help-modal-body">
    <!--<p>If you need technical assistance, please contact us at <a href="mailto:surveysupport@oceanspaces.org">surveysupport@oceanspaces.org</a>.</p>-->
    <p>If you have questions about the survey, please contact Benét Duncan at <a href="mailto:benet.duncan@calost.org">benet.duncan@calost.org</a>.</p>
    <div class="btn-container">
		<button class="btn btn-main" ng-click="ok()">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
    </div>
</div>
<!-- <div class="modal-footer help-modal-footer">
    
</div>
 -->
