<div id="wrap" class="menu-page">
    <div mobilemenu ng-show="showTopMenu" ></div>

    <div class="container">
        <!-- <div class="respondant"> -->

            <div class="page-content">
                <div class="block-title"> About the Central Coast Monitoring Survey </div>
                <!-- <h4 class="question-title">About</h4>
                <p>Content</p> -->
                <p>NEED CONTENT</p>
                <p>[privacy / intent with data]</p>
                <p>[support email address]</p>
            </div>

            <div id="page-controls" class="clearfix">
                <a class="btn btn-main btn-nav valid" ng-click="goBack()">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back
                </a>
            </div>
        <!-- </div> -->
    </div>
</div>
