<div id="history-wrap" class="menu-page">
    <div mobilemenu></div>
    <!-- Begin page content -->
    <div class="container">
        
        <div ng-show="showErrorMessage" class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="error">Problem</div>
                <div>There was a problem loading your surveys.</div>
                <div>Please sign in again.</div>
                <a class="btn btn-default btn-lg btn-block panel-heading" href="#/signin">Sign In</a>
            </div>
        </div>
        <div ng-show="showDeleteErrorMessage">
            <div class="error">Delete Failed</div>
            <div>There was a problem deleting the survey.</div>
            <div>Please sign in again.</div>
            <a class="btn btn-default btn-lg btn-block panel-heading" href="#/signin">Sign In</a>
        </div>

        <div ng-show="showSurveyList">
            <div class="row">
                <h3>Incomplete Reports</h3>
            </div>
    
            <div class="row" style="margin-top: 20px">
                <div class="col-md-1">
                    <span class="label">From:</span>
                </div>
                <div class="col-md-4 input-group">
                    <input class="form-control datepicker" type="date" ng-model="surveyFilter.start" />
                </div>
            </div>
            <div class="row" style="margin-top: 3px">
                <div class="col-md-1">
                    <span class="label">To:</span>
                </div>
                <div class="col-md-4 input-group">
                    <input class="form-control datepicker" type="date" ng-model="surveyFilter.end" />
                </div>
            </div>
            <div class="row" style="margin-top: 6px">
                <div class="col-md-4 col-md-offset-1 input-group" style="padding-right: 5px;">
                    <a ng-disabled="!updateEnabled" class="btn btn-main pull-right btn-update" ng-click="updateSurveyList()">Update</a>
                </div>
            </div>

            <div style="margin-top: 20px">

                <div class="row" ng-repeat="respondent in respondentList | orderBy: 'ts':true">
                    <div class="col-xs-6 col-sm-6 col-md-6 panel panel-default">
                        <div class="panel-heading" ng-click="openRespondent(respondent)" ng-class="{ 'open': respondent.open }">
                            <h4 class="panel-title">
                                {{respondent.survey_title}}
                            </h4>
                        </div>
                        <div id="{{ respondent.survey_title }}" class="panel-collapse collapse" ng-class="{ 'in': respondent.open }">
                            <div class="panel-body">
                                <div ng-include="viewPath + 'views/ost/surveyAnswers.html'"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <a href="javascript:void(0)" ng-click="resumeSurvey(respondent); $event.stopPropagation();" class="btn btn-primary btn-main btn-resume">Resume</a>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <a href="javascript:void(0)" ng-click="deleteRespondent(respondent); $event.stopPropagation();" class="btn btn-primary btn-main btn-resume">Delete</a>
                    </div>
                </div>

                <a ng-show="next20" class="btn btn-default btn-lg btn-block panel-heading" ng-click="showNext20(surveyFilter)">Show More...<i class="icon-spinner icon-spin" ng-show="gettingNext20"></i></a>
            </div>

        </div>  

    </div>

    <div ng-hide="showSurveyList || showErrorMessage" ng-include="viewPath + 'views/spinner.html'"></div>

</div>


<div id="history-footer">
    <a class="btn pull-left" href="#/history"><span class="glyphicon glyphicon-chevron-left"></span></a>
</div>
