<div id="wrap" class="menu-page">
    <div mobilemenu ng-show="showTopMenu" ></div>

    <div class="container">
        <!-- <div class="respondant"> -->

            <div class="page-content">
                <h2 class="ost-title"> About the Central Coast Monitoring Survey </h2>
                <!-- <h4 class="question-title">About</h4>
                <p>Content</p> -->
                <p><strong>Background</strong><br />
Your responses to this survey will help to build a cost-effective, partnerships-based marine protected area (MPA) monitoring program in the Central Coast.</p>

<p>A network of marine protected areas (MPAs) has been implemented in California state waters under the Marine Life Protection Act. Monitoring to evaluate the performance of the MPAs is a key element in implementing and managing the statewide MPA network, and in developing an understanding of ocean health in the region.</p>

<p>The Ocean Science Trust, California Department of Fish and Wildlife, and the California Ocean Protection Council are engaged in a collaborative effort to plan and implement long-term MPA monitoring in the Central Coast of California, which extends from Pigeon Point to Point Conception.</p>

<p>This survey is a key step in the monitoring planning effort. It has been designed to identify the geographic and temporal coverage of monitoring activities inside and outside of Central Coast MPAs, and the compatibility of those activities with the metrics outlined in the draft <a href="http://oceanspaces.org/monitoring/regions/central-coast/planning#long-term" target="_blank">Central Coast MPA Monitoring Plan</a>.</p><p>&nbsp;</p> 


<p><strong>Sharing Results</strong><br />

Most of the information you share with us through this survey will be publicly-accessible in the Central Coast Survey Dashboard on OceanSpaces.org.</p> 

<p>Responses that will not be included in the public dashboard are indicated by the ‘Not Public’ icon: <strong><i class="icon icon-eye-close not-public-icon" ng-show="true"></i></strong></p>

<p>We may share any of these responses with our state partners and funders as part of the process of building an MPA Monitoring program in the Central Coast.</p>

<p>Questions? Please contact Benét Duncan at <a href="mailto:benet.duncan@calost.org">benet.duncan@calost.org</a> with any questions about the purpose and use of this survey, and MPA monitoring in the Central Coast and beyond.</p>

<!--<p>Please contact <a href="mailto:surveysupport@oceanspaces.org">surveysupport@oceanspaces.org</a> with any technical questions about this survey.</p>-->

<p>This survey was developed by <a href="http://www.pointnineseven.com" target="_blank" title="Point 97">Point 97</a>, an Ecotrust company.
</p>
            </div>

            <div id="page-controls" class="clearfix">
                <a class="btn btn-main btn-nav valid" ng-click="goBack()">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back
                </a>
            </div>
        <!-- </div> -->
    </div>
</div>
