<h4>Examples</h4>
<div class="row">
	<div class="col-sm-6" style="padding-bottom: 20px; max-width: 400px;">
		<p style="margin-bottom: 5px;"><strong>Add Point Markers</strong></p>
		<img class="img-responsive" 
			 src="/static/survey/assets/img/ost/mapping-points.jpg" 
			 alt="Screenshot of mapping points.">
		<p>If your monitoring site is a relatively small location we recommend mapping using point markers.</p>	
	</div>
	<div class="col-sm-6"  style="padding-bottom: 20px; max-width: 400px;">
		<p style="margin-bottom: 5px;"><strong>Select 1NM grid cells</strong></p>
		<img class="img-responsive" 
			 src="/static/survey/assets/img/ost/mapping-planning-units.jpg" 
			 alt="Screenshot of mapping 1NM grid cells.">
		<p>If your monitoring site covers a large area (e.g., submersible transects, aerial surveys, etc.) we recommend mapping using 1NM (nautical mile) grid cells.</p>
	</div>
</div>
