<h4>Guidance</h4>
<div class="row">
	<div class="col-sm-6">
		<p><strong>Adding point markers –</strong> If your monitoring site is a relatively small location we recommend mapping using point markers.</p>	
		<img class="img-responsive" src="/static/survey/assets/img/ost/mapping-points.jpg" alt="Screenshot of mapping points.">
	</div>
	<div class="col-sm-6">
		<p><strong>Selecting planning units –</strong> If your monitoring site covers a large area (e.g. submersible transects, aerial surveys, etc) we recommend mapping using planning units.</p>
		<img class="img-responsive" src="/static/survey/assets/img/ost/mapping-planning-units.jpg" alt="Screenshot of mapping planning units.">
	</div>
</div>
