<h3>Who should take this survey?</h3>
<p>You should only take this survey if you are actively involved in managing or overseeing a monitoring project in the Central Coast. If you have any questions about whether or not to take the survey, please contact Benét Duncan at <a href="benet.duncan@calost.org">benet.duncan@calost.org</a>.</p>

<h3>What projects should you report in this survey?</h3>
<p>We ask that participants fill out a separate survey for each of their ocean monitoring projects that generates data within the Central Coast region of California, from Pigeon Point to Point Conception (shaded in yellow in the map below).</p> 

<p>Please report on any projects that are ongoing or starting up. Past projects are welcome, but only worth the time if there is interest in conducting more work as part of the project in the future.</p>

<p>This survey will help to build Central Coast MPA monitoring. We are interested in activities both inside and outside of marine protected areas (MPAs) in the Central Coast. Please do not be concerned about the locations or boundaries of MPAs as you consider your responses.</p>

<p>If you have multiple monitoring projects in this region, we ask that you complete this survey multiple times: once for each project. A link at the end of the survey will take you back to the beginning to start a new set of responses for a separate project. We greatly appreciate your contribution to the monitoring planning effort!</p>

<p>More questions about the survey? Contact Benet Duncan (<a href="mailto:benet.duncan@calost.org">benet.duncan@calost.org</a>).
</p>

<img style="width:100%;" src="static/survey/assets/img/oceanspaces_ca_cc_region.jpg" alt="Study region is along the coast of Central California between Pigeon Point in the north and Point Conception in the south.">
