
<div class="panel panel-default survey-answers">
<!--     <div class="panel-heading">
        <div class="span12 text-center survey-title"><h3 style="margin-top: 10px">{{getTitle()}}</h3></div>
    </div>
 -->    
    <div class="panel-body">

        <!-- REPORT OVERVIEW -->

        <div ng-show="respondent.survey == 'monitoring-project'">
            
            <!-- HEADER -->
            <div ng-include="viewPath + 'views/ost/organizationAnswers.html'"></div>

            <!-- HOOK & LINE -->
            <!-- <div ng-show="gearTypeIncludes('hook')" ng-include="viewPath + 'views/hookAndLineAnswers.html'"></div> -->

        </div>
    </div>
</div>


<style type="text/css">

.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.survey-answers .row h4 {
    margin-left: 10px;
    margin-top: 20px;
}
</style>

