<div class="container acl-progress" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" ng-model="filter.region" bs-checkbox>
                <span class="glyphicon glyphicon-remove"></span>
                Region
            </button>
            <button type="button" class="btn btn-default" ng-model="filter.area.stcroix" bs-checkbox>
                <span class="glyphicon glyphicon-plus"></span>
                St Croix
            </button>
            <button type="button" class="btn btn-default" ng-model="filter.area.stthomas" bs-checkbox>
                <span class="glyphicon glyphicon-plus"></span>
                St. Thomas
            </button>
            <button type="button" class="btn btn-default" ng-model="filter.area.puertorico" bs-checkbox>
                <span class="glyphicon glyphicon-plus"></span>
                Puerto Rico
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li ng-click="slideTo($index)" ng-repeat="slide in slides" ng-class="{ 'active': slideIndex == $index }"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item" ng-class="{ 'active': slideIndex == $index }" ng-repeat="slide in slides">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="family in slide">
                                <h3 class="family-title">{{family.name}}</h3>
                                <div acl-pie-chart inner-radius="100" bind="family.data" class="chart"></div>
                            </div>
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" ng-click="slidePrev()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" ng-click="slideNext()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>