<div class="container acl-progress" ng-cloak>
    <div class="row">
        <div ng-include="'/static/survey/views/sideNav.html'"></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div ng-include="'/static/survey/views/areaButtons.html'"></div>
                </div>
            </div>
            <div class="row" ng-hide="aclResults">
                <div class="col-md-12">No data for {{ area }}.</div>
            </div>
            <div class="carousel slide" ng-show="aclResults">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li ng-click="slideTo($index)" ng-repeat="slide in slides" ng-class="{ 'active': slideIndex == $index }"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item" ng-class="{ 'active': slideIndex == $index }" ng-repeat="slide in slides">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="family in slide">
                                <h3 class="family-title">{{family.name}}</h3>
                                <div acl-pie-chart inner-radius="100" font-size="24" bind="family.data" class="chart"></div>
                            </div>
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" ng-click="slidePrev()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" ng-click="slideNext()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="row" ng-show="aclResults">
                <div class="col-md-12">
                    <ol class="list-unstyled" class="acl-results">
                        <li ng-repeat="acl in aclResults" class="acl-result">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ acl.acl.species.name }}
                                </div>
                                <div class="col-md-8">
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ acl.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ acl.percent }}%;">
                                        <span class="sr-only">{{ acl.percent }}% Complete</span>
                                      </div>
                                    </div>
                                    <i class="icon-info-sign info-sign" data-trigger="hover" bs-tooltip="test"></i>
                                </div>
                                <div class="col-md-1">
                                    <span class="info-percent">{{ acl.percent|number:1 }}%</span>
                                </div>
                            </div>
                        </li>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 