<div id="sidenav_respondants">
    <div id="sidebar_nav" class="margin-bottom">
        <ul class="nav">
            <li>
                <a ng-class="{'active': activePage == 'users'}" href="#/accounts">Users</a>
            </li>
            <li>
                <a href="#/acl">Manage Annual Catch Limits</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'reports'}" href="#/admin">Reports</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'add-reports'}" href="#/">Add Catch Report</a>
            </li>
            <li ng-show="user.is_superuser" >
                <a target="_blank" href="/admin/">Admin Backend</a>
            </li>

        </ul>
    </div>
</div>