<div id="sidenav_respondants">
    <div id="sidebar_nav" class="margin-bottom">
        <ul class="nav">
            <li>
                <a ng-class="{'active': activePage == 'users'}" href="#/accounts">
                    <span ng-hide="account.username">Users</span>
                    <span ng-show="account.username">User<br><small >{{account.username}}</small></span>
                </a>


            </li>

            <li>
                <a ng-class="{'active': activePage == 'acl-list'}" href="#/acl">Manage Annual Catch Limits</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'reports'}" href="#/admin">Reports</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'add-reports'}" href="#/add-catch-report">Add Catch Report</a>
            </li>
            <li ng-show="user.is_superuser" >
                <a target="_blank" href="/admin/">Admin Backend</a>
            </li>

        </ul>
    </div>
</div>