<div ng-model="filter.area" bs-radio-group>
    <!-- <label class="btn btn-default">
        <input type="radio" class="btn btn-default" value="region">
        Region
    </label> -->
    <label class="btn btn-default">
        <input type="radio" class="btn btn-default" value="stcroix">
        St. Croix
    </label>
    <label class="btn btn-default">
        <input type="radio" class="btn btn-default" value="stthomas">
        St. Thomas
    </label>
    <label class="btn btn-default">
        <input type="radio" class="btn btn-default" value="stjohn">
        St. John
    </label>
    <label class="btn btn-default">
        <input type="radio" class="btn btn-default" value="puertorico">
        Puerto Rico
    </label>
</div>