
<div class="col-md-12 col-sm-12 clearfix">

    <div dash-filter 
        placeholder-text="'Select Species/Indicator'" 
        allow-multi-select=true 
        survey-slug="'monitoring-project'" 
        question-slug="'*-species'" 
        selected-values="filters['*-species']" 
        class="pull-right"></div>

    <div dash-filter 
        placeholder-text="'Select Ecosystem Feature'" 
        allow-multi-select=true 
        survey-slug="'monitoring-project'" 
        question-slug="'ecosystem-features'" 
        selected-values="filters['ecosystem-features']" 
        class="pull-right"></div>

</div>