<div>

    <!-- single select -->
    <select ng-if="allowMultiSelect != true" class="single-select2"
        ui-select2 
        placeholder="{{placeholderText}}" 
        ng-model="model.selectedValuesInternal" 
        ng-change="selectionChanged(value)"
        >
        <option value="{{option.value}}" ng-repeat="option in filterOptions">
            <strong>{{option.displayLabel}}</strong>
        </option>
    </select>

    <!-- multi select -->
    <select ng-if="allowMultiSelect == true" class="multi-select2"
        ui-select2 
        allowClear="true"
        placeholder="{{placeholderText}}" 
        multiple="true" 
        ng-model="model.selectedValuesInternal" 
        ng-change="selectionChanged(value)"
        >
        <option value="{{option.value}}" ng-repeat="option in filterOptions">
            <strong>{{option.displayLabel}}</strong>
        </option>
    </select>


    <div class="margin-top margin-bottom">
        <button type="button" class="btn btn-default" ng-click="updateMap('clear')"><span class="glyphicon glyphicon-remove-circle"></span>Clear</button>
    </div>

</div>