<div class="modal-header error-modal-header">
	<span class="glyphicon glyphicon-exclamation-sign"></span>
	<span>Oops!</span>
</div>
<div class="modal-body error-modal-body">
    <p>Some of the questions on this page need attention before continuing. Please update the fields as indicated and submit again.</p>
    <div class="btn-container">
		<button class="btn btn-main" ng-click="ok()">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
    </div>
</div>
<!-- <div class="modal-footer error-modal-footer">
    
</div>
 -->