<form class="question" ng-submit="$parent.submitPage(page)">
    <div class="grid">
        <div class="row">
            <div class="cell" style="height: 1px"></div>
            <div class="cell head" ng-repeat="col in question.grid_cols">
                {{ col.text }}
            </div>
        </div>
        <div class="row" ng-repeat="(rowIndex, row) in grid.rows">
            <div class="cell head">
                {{ row.text }}
            </div>
            <div class="cell" ng-repeat="cell in row.cells">
                <div ng-switch="cell.inputType">
                    <div ng-switch-when="number">
                        <input
                                class="input-block-level form-control"
                                type="number"
                                ng-model="question.answer[rowIndex][cell.label]"
                                ng-required="cell.required"
                                max="{{ cell.max }}"
                                min="{{ cell.min }}"
                                step="{{ cell.type == 'integer' ? 1 : 'any' }}"
                                ui-event="{ keypress : 'onlyDigits($event)' }"
                                />
                    </div>
                    <div ng-switch-when="text">
                        <input
                                class="input-block-level form-control"
                                type="text"
                                ng-model="question.answer[rowIndex][cell.label]"
                                ng-required="cell.required"
                                />
                    </div>
                    <div ng-switch-when="checkbox">
                        <input
                                class="input-block-level form-control"
                                type="checkbox"
                                ng-model="question.answer[rowIndex][cell.label]"
                                ng-required="cell.required"
                                />
                    </div>
                    <div ng-switch-when="select">
                        <select
                                class="input-block-level form-control"
                                ng-required="cell.required"
                                ng-model="question.answer[rowIndex][cell.label]"
                                ng-options="option for option in cell.options"
                                >
                        </select>
                    </div>
                    <div ng-switch-when="multi-select">
                        <select
                                class="input-block-level form-control"
                                multiple
                                ng-required="cell.required"
                                ng-model="question.answer[rowIndex][cell.label]"
                                ng-options="option for option in cell.options"
                                >
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .grid .row {
        padding: 0.5em;
        background: rgba(255, 255, 255, 0.5);
        margin: 0;
    }

    .grid .row .cell {
        float: left;
    }

    .grid .row .cell.head {
        font-weight: bold;
        font-size: 1.2em;
    }

    .grid input, .grid select {
        width: 75%;
    }
</style>