<div id="wrap" class="main thin-page">
    <!-- Fixed navbar -->
    <!-- Begin page content -->
    <div class="navbar navbar-default navbar-fixed-top">

    </div>

    <div class="container">
        <div class="page-header">
            <img src="static/survey/assets/img/oceanspaces-logo-white.png" class="center oceanspaces-logo logo" />
            <h1 class="ost-title">Ocean Monitoring Survey</h1>
        </div>
        <div class="loading-indicator" ng-show="working">
            <div class="bar">
                <i class="sphere"></i>
            </div>
        </div>
        <div ng-hide="!user || working">
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" ng-show="user.resumePath" href="{{user.resumePath}}">Resume Report</a>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/signup" ng-show="user.status == 'signup'">Finish Signing Up</a>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/signin" ng-show="user.status == 'signin'">Finish Signing In</a>
            <button type="button" class="btn btn-main btn-default btn-lg btn-block" ng-click="newReportOnline('monitoring-project')">Take Survey</button>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/history">Revisit Survey</a>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/profile">Profile</a>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/settings">Settings</a>
            <button type="button" class="btn btn-main btn-default btn-lg btn-block" ng-click="logout()">Logout</button>
        </div>
        <!-- <p class="pull-right">{{stage}}/{{version}}</p> -->
    </div>

    <div id="map" mobile-map ng-show="user"></div>
    <div class="alert-notice" ng-show="message">
        <div class="pull-left">{{ message }}</div>
        <button class="btn btn-default btn-outline-inverse pull-right" ng-tap="dismissMessage()">ok</button>
    </div>
    <div class="alert-notice" ng-show="update">
        <div>An update ({{newVersion}}) is available for Digital Deck.</div>
        <div class="pull-right">
            <button class="btn btn-default btn-outline-inverse" ng-tap="dismissMessage()">not now</button>
            <button class="btn btn-default btn-outline-inverse" ng-tap="updateApp()">update</button>
        </div>
    </div>

</div>
<!-- <div id="footer">
    <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    </div>
</div>
 -->
