<div class="input-group margin-bottom" style="width:100%">
    <input ng-hide="visible" class="form-control password text margin-bottom" name="pwd" type="password" pattern="\d*" placeholder="{{placeholderText || 'enter your password...'}}" ng-model="passwordText">
    
    <!-- <input ng-show="visible" class="form-control password dots margin-bottom" type="telephone" placeholder="{{placeholderText || 'enter your password...'}}" ng-model="passwordText" required>
 -->
<!--     <span class="input-group-btn">
        <a class="btn eye" ng-hide="visible" ng-click="toggleVisible()"><span class="glyphicon glyphicon-eye-open"></span></a>
        <a class="btn eye" ng-show="visible" ng-click="toggleVisible()"><span class="glyphicon glyphicon-eye-close"></span></a>
    </span> -->
 </div>
 
 