
<!-- HEADER -->
<div class="row">
    <div class="col-xs-12 col-sm-12 margin-top-10">
        <div class="pull-right">
            <strong>Fecha del desembarco: </strong>
            <span>{{ getAnswer('trip-landing-date-puerto-rico') }}</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 margin-top-10">
        
        <div>
            <strong>Pesca: </strong>
            <span>{{ getAnswer('fishing-day-night-puerto-rico')['text'] }}</span>
        </div>
        <div>
            <strong>Reportado por: </strong>
            <span>{{ getAnswer('report-for-puerto-rico')['text'] }}</span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 margin-top-10">
        <div>
            <div>
                <strong>Municipio de Desembarco: </strong>
                <span>{{ getAnswer('trip-landing-site-puerto-rico')['text'] }}</span>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-4 margin-top-10">
        <div>
            <strong>Nombre del pescador:</strong>
            <span>{{ getAnswer('first-name-puerto-rico') }} {{ getAnswer('last-name-puerto-rico') }}</span>
        </div>
        <div>
            <strong>Número de Licencia:</strong>
            <span>{{ getAnswer('license-number-puerto-rico') }}</span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 margin-top-10">
        <div>
            <strong>Número de teléfono:</strong>
            <span>{{ getAnswer('telephone-puerto-rico') }}</span>
        </div>
        <div>
            <strong>Registro de embarcacion:</strong>
            <span>{{ getAnswer('vessel-number-puerto-rico') }}</span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 margin-top-10">
        <div>
            <strong>Número de Permiso para HMS si aplica: </strong>
            <span>
                {{ getAnswer('hms-species-permit-number-puerto-rico') }}
            </span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 margin-top-10" ng-show="getAnswer('license-number-partner-1-puerto-rico')">
        <div>
            <strong>Nombre del pescador (2):</strong>
            <span>{{ getAnswer('first-name-partner-1-puerto-rico') }} {{ getAnswer('last-name-partner-1-puerto-rico') }}</span>
        </div>
        <div>
            <strong>Número de Licencia (2):</strong>
            <span>{{ getAnswer('license-number-partner-1-puerto-rico') }}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 margin-top-10" ng-show="getAnswer('license-number-partner-2-puerto-rico')">
        <div>
            <strong>Nombre del pescador (3):</strong>
            <span>{{ getAnswer('first-name-partner-2-puerto-rico') }} {{ getAnswer('last-name-partner-2-puerto-rico') }}</span>
        </div>
        <div>
            <strong>Número de Licencia (3):</strong>
            <span>{{ getAnswer('license-number-partner-2-puerto-rico') }}</span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 margin-top-10">
        <div>
            <strong>Profundidad donde occurrio la ayor captura:</strong>
            <span>{{ getAnswer('bottom-depth-puerto-rico') }} (brasas)</span>
        </div>
        <div>
            <strong>Área de captura:</strong>
            <span ng-repeat="area in getAnswer('area-fished-puerto-rico')">
                {{ area }}<span ng-hide="$last">, </span>
            </span>
        </div>
        <div>
            <strong>Pesca capturada n una distancia de In msm</strong>
            <span>{{ getAnswer('fished-9-miles-from-shore-puerto-rico').text }}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 margin-top-10 paper-group" ng-repeat="(group,species) in groups">
        <h4 class="title">{{ group }}</h4>
        <table class="table">
            <thead>
                <th>Clase de Pescado</th>
                <th>Peso</th>
                <th>Precio Por Libra</th>
                <th>Arte</th>
                <th>Horas Pescando</th>
                <th>Cantidad o Tamaño De Arte</th>
            </thead>
            <tbody>
                <tr ng-repeat="s in species">
                    <td><strong>{{ s.text }}</strong></td>
                    <td>{{ fw[s.text].peso}}</td>
                    <td>{{ fw[s.text].precioporlibra}}</td>
                    <td>{{ arte[s.text].arte }}</td>
                    <td>{{ hours[s.text].horasdepesca }}</td>
                    <td>{{ gear_size[s.text].cantidadytamanodearte }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- end Header -->
