<div class="container dash-responses" ng-cloak>
    <div class="row">
        <div ng-include="'/static/survey/views/sideNav.html'"></div>
        <div class="col-md-9 col-sm-9">
            <div ng-hide="busy" class="row">
                <div class="col-md-12 col-sm-12">  
                    <h3>MPA Monitoring Framework Survey: Central Coast Survey Responses</h3>
                </div>
            </div>
            <div ng-show="busy" ng-include="viewPath + 'views/spinner.html'"></div>

            <!-- <div ng-hide="busy" class="row" ng-include="'/static/survey/views/dash-top-filters.html'"></div> -->




            <div class="row" ng-hide="busy">
                <h3>Matching Reports</h3>
                    <div ng-repeat="respondent in respondents">
                        {{respondent.survey_slug}}  - {{respondent.responses.length}} Responses
                    </div>
                <div class="pull-left">
                    Showing {{ meta.offset + 1 }}-{{ meta.offset + meta.limit }} of {{ meta.total_count }}
                </div>
                <div class="pull-right">
                    <div pagination 
                        total-items="meta.total_count" 
                        items-per-page="8" 
                        max-size="8" 
                        page="currentPage"
                        previous-text="&lsaquo;" 
                        next-text="&rsaquo;" 
                        first-text="&laquo;" 
                        last-text="&raquo;" 
                        on-select-page="goToPage(page)">
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</div>