<div class="container">
    <div ng-include="'/static/survey/views/sideNav.html'"></div>
    <div class="col-md-9 col-sm-9">
        <div class="row" ng-cloak>
            <div class="col-md-6 col-sm-6">
                <h2>Details</h2>
                <dl>
                    <dt>user</dt>
                    <dd>{{ respondent.user.username }}</dd>
                    <dt>identity</dt>
                    <dd>{{ respondent.email || respondent.uuid}}</dd>
                    <dt>timestamp</dt>
                    <dd>{{ respondent.ts  |date: 'MM-dd-yyyy HH:mm' }}</dd>
                </dl>
            </div>
            <div class="col-md-6 col-sm-6" ng-show="respondent.notify">
                <div class="well">
                    <h3>Agency Comment <i class="icon-spin icon-spinner" ng-show="respondent.spin"></i> </h3>
                    <p>{{respondent.comment}}</p>
                    <button class="btn pull-right ok-button" ng-click="ackNotification(respondent)" ng-hide="respondent.notify_seen_at > respondent.updated_at || respondent.hide_button ||user.is_staff">ok</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row" ng-cloak>
            <h2>Responses</h2>
            <table class="table">
                <tbody ng-repeat="response in respondent.responses">
                    <tr>
                        <td>{{response.question.label}}:</td>
                        <td>
                            <span ng-switch on="response.question.type">
                                <span ng-switch-default>{{response.answer}}</span>
                                <span ng-switch-when="yes-no">{{response.answer_parsed.text}}</span>
                                <span ng-switch-when="number-with-unit">{{response.answer}} {{response.unit}}</span>
                                <span ng-switch-when="single-select">{{answer.text}}</span>
                                <ul class="list-unstyled" ng-switch-when="multi-select">
                                    <li ng-repeat="answer in response.answer_parsed">{{answer.text}}</li>
                                </ul>
                                <table class="table table-bordered" ng-switch-when="grid">
                                    <thead>
                                        <th></th>
                                        <th ng-repeat="grid_col in response.question.grid_cols"><strong>{{grid_col.text}}</strong></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="answer in response.answer_parsed">
                                            <td>{{ answer.text }}</td>
                                            <td ng-repeat="grid_col in response.question.grid_cols" ng-hide="grid_col.type=='multi-select'">{{answer[grid_col.label.replace('-', '')]}}</td>
                                            <td ng-repeat="grid_col in response.question.grid_cols" ng-show="grid_col.type=='multi-select'">
                                                <span ng-repeat="multiAnswer in answer[grid_col.label.replace('-', '')]">{{multiAnswer}}<span ng-hide="$last">,</span> </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </td>
                        <td><a target="_blank" ng-show="user.is_staff || user.is_intern" href="/respond#/survey/{{surveySlug}}/{{response.question.slug}}/{{ uuid }}/edit" class="btn btn-default">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- end second row -->
        <div class="span6">
            <!--<div leaflet multimarkers="mapResponse" center="map.center" zoom="map.zoom" popupfield="'answers'"></div>-->
        </div> 
    </div><!-- end col-md-9 -->
</div>