<div class="container dash-responses" ng-cloak>
    <div class="row">
        <div ng-include="'/static/survey/views/sideNav.html'"></div>
        <div class="col-md-9 col-sm-9">
            
            <div class="row">
                <div ng-include="'/static/survey/views/ost/dash-header.html'"></div>
            </div>
            
            
            <div class="row" ng-hide="busy">
                <div class="col-md-12 col-sm-12">
                <h3>Matching Reports for '{{searchTerm}}'</h3>
                <div respondents-table respondents='respondents' resource='resource' meta='meta'></div>
                </div>
            </div>

            <div class="row">
                <div ng-include="'/static/survey/views/ost/dash-footer.html'"></div>
            </div>
                
        </div>
    </div>
</div>