<div class="col-md-3 col-sm-3 print-hide" id="sidenav_respondants" >
    <div class="stats" loading-survey survey="survey">
        <div class="row">
            <div id="side_total" class="col-sm-12 col-md-12 box">
                <h1>{{survey.num_registered || 0}}</h1>
                <p>REGISTERED</p>
            </div>
        </div>
        <div class="row">
            <div id="side_started" class="col-sm-6 col-md-6 box">
                <h1>{{survey.incompletes || 0}}</h1>
                <p>INCOMPLETE</p>
            </div>
            <div id="side_completed" class="col-sm-6 col-md-6 box">
                <h1>{{survey.completes || 0}}</h1>
                <p>COMPLETED</p>
            </div>
        </div>
    </div>


    <div class="sidebar_nav" loading-survey survey="survey" >
        <ul class="nav">
            
            <li>
                <a ng-class="{'active': activePage == 'welcome'}" href="#/welcome/{{survey.slug}}">welcome</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'explore'}" href="#/explore/{{survey.slug}}">explore community</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'overview'}" href="#/overview/{{survey.slug}}">monitoring activity - overview</a>
            </li>
            <li nh-hide="app.user.is_staff">
                <a ng-class="{'active': activePage == 'responses'}" href="#/RespondantList/{{survey.slug}}">projects</a>
            </li>

            <li ng-hide="user.is_staff != 'True'">
                <a ng-class="{'active': activePage == 'download'}" href="/reports/full-survey-data/{{survey.slug}}">Download</a>
            </li>
        </ul>
        
    </div>

    <div class="sidebar_nav" ng-show="activePage == 'overview'" >
        <div dash-filter 
             placeholder-text="'all ecosystem features'"
             allow-multi-select="true"
             survey-slug="'monitoring-project'"
             question-slug="'ecosystem-features'"
             selected-values="filters.ecosystemFeatures"
             ></div>
        <button type="button" class="btn btn-default" ng-click="updateMap()"><span class="glyphicon glyphicon-filter"></span>Filter</button>
        <button type="button" class="btn btn-default" ng-click="updateMap('clear')"><span class="glyphicon glyphicon-remove-circle"></span>Clear</button>

    </div>
    <div respondentsearch></div>

    <div class="sidebar_nav">
        <ul class="nav">
            <li>
                <a href="http://oceanspaces.org/program/central-coast-ongoing-mpa-monitoring-program">more about Central Coast Monitoring</a>
            </li>
        </ul>
    </div>
</div>