<div class="col-md-3 col-sm-3 print-hide" id="sidenav_respondants">
    <div class="stats">
        <div class="row">
            <div id="side_total" class="col-sm-12 col-md-12 box">
                <h1>{{survey.survey_responses || 0}}</h1>
                <p>REGISTERED</p>
            </div>
        </div>
        <div class="row">
            <div id="side_started" class="col-sm-6 col-md-6 box">
                <h1>{{survey.reviews_needed || 0}}</h1>
                <p>STARTED</p>
            </div>
            <div id="side_completed" class="col-sm-6 col-md-6 box">
                <h1>{{survey.flagged || 0}}</h1>
                <p>COMPLETED</p>
            </div>
        </div>
    </div>
    <div id="sidebar_nav">
        <ul class="nav">
            <li>
                <a ng-class="{'active': activePage == 'ecosystems'}" href="#/ecosystems/{{survey.slug}}">Ecosystems</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'project-info'}" href="#/project-info/{{survey.slug}}">Project Info</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'responses'}" href="#/RespondantList/{{survey.slug}}">Responses</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'download'}" href="#/download/{{survey.slug}}">Download</a>
            </li>
        </ul>
    </div>
</div>