<div class="col-md-3 col-sm-3 print-hide" id="sidenav" ng-style="style()" full-height>

    <a href="http://oceanspaces.org">
        <img src="/static/survey/assets/img/ost/oceanspaces_logo.png">
    </a>
    <div class="stats" loading-survey survey="survey">
        <div class="row">
            <div id="side_total" class="col-sm-12 col-md-12 box">
                <h1>{{survey.num_registered || 0}}</h1>
                <p>REGISTERED</p>
            </div>
        </div>
        <div class="row">
            <div id="side_started" class="col-sm-6 col-md-6 box">
                <h1>{{survey.incompletes || 0}}</h1>
                <p>INCOMPLETE</p>
            </div>
            <div id="side_completed" class="col-sm-6 col-md-6 box">
                <h1>{{survey.completes || 0}}</h1>
                <p>COMPLETED</p>
            </div>
        </div>
    </div>

    <div respondentsearch ></div>
    <div class="sidebar_nav" survey="survey" >
        <ul class="">
            
            <li>
                <a ng-class="{'active': activePage == 'welcome'}" href="#/welcome/{{survey.slug}}">Welcome</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'explore'}" href="#/explore/{{survey.slug}}">Explore Community</a>
            </li>
            <li>
                <a ng-class="{'active': activePage == 'overview'}" href="#/overview/{{survey.slug}}">Monitoring Activity</a>
            </li>
            <li ng-show="app.user.is_superuser">
                <a ng-class="{'active': activePage == 'responses'}" href="#/RespondantList/{{survey.slug}}">Projects</a>
            </li>

            <li ng-show="user.is_staff = 'True'">
                <a ng-class="{'active': activePage == 'download'}" href="/reports/full-survey-data/{{survey.slug}}">Download</a>
            </li>

            <li>
                <a href="http://oceanspaces.org/program/central-coast-ongoing-mpa-monitoring-program">About</a>
            </li>

            <li>
                <div help-modal></div>
            </li>
        </ul>
        
    </div>

    <div class="padding-top" ng-show="activePage == 'overview'" >
        <div dash-filter 
             class=""
             placeholder-text="'all ecosystem features'"
             allow-multi-select="true"
             survey-slug="'monitoring-project'"
             question-slug="'ecosystem-features'"
             selected-values="filters.ecosystemFeatures"
             ></div>
    </div>

</div>