<div id="wrap" class="main signin thin-page">
    <div class="container" style="max-width: 600px;">
        <div class="page-content">
            <div class="page-header">
                <img src="static/survey/assets/img/oceanspaces-logo.png" class="center oceanspaces-logo logo" />
                <h1 class="ost-title">Central Coast Monitoring Survey</h1>
                <h2 class="ost-title">Assessing Research & Monitoring</h2>
            </div>
            <!-- <p class="intro">
                Short blurb of survey mission and why someone might want to contribute.
            </p> -->

            <p style="margin: 0 20px 10px 20px; max-width: 500px;">
                Welcome! The Ocean Science Trust is conducting a survey of research and monitoring activities in the Central Coast of California. Results will inform planning and implementation of MPA monitoring in this region, and will be available on OceanSpaces.org.</p>
                <p style="margin: 0 20px 35px 20px; max-width: 500px;">
                <a class="signin-link" href="/respond#/about">Learn more (privacy / support information) &nbsp;&raquo;</a>
            </p>
            <p style="margin: 0 20px 10px 20px; max-width: 500px;">Login to take the survey.  Don’t have an OceanSpaces.org account? You can still take the survey, but please <a href="/respond#/signup">sign up</a> to create a username and password so that you can revisit your work. If you already have a username and password, sign in below.</p>

            <div class="login-container">

                <div class="btn-container">
                    <a class="btn btn-main btn-default" href="/login/ost/?next=/respond">Log in with OceanSpaces.org Account</a>
                    <p class="btn-caption">Using an OceanSpaces.org account allows you to view survey results.</p>
                </div>

                <div class="auth-separator">
                    <div class="or-auth-separator">
                        OR
                    </div>
                </div>

                <div class="new-user-form signin-form" ng-show="showForgotPassword">
                    <form ng-submit="forgotPassword(forgotUser)">
                        <fieldset ng-disabled="working">
                            <h4 class="question-title">Enter your email address</h4>
                            <input type="email" class="form-control username" ng-model="forgotUser.email" autocapitalize="off">
                            <div class="error" ng-show="showError == 'user-not-found'">
                                No user found for that email address.
                            </div>
                            <div class="error" ng-show="showError == 'multiple-users-found'">
                                Multiple users found with that email address. 
                            </div>

                        </fieldset>
                        <button class="btn btn-main btn-default btn-block" ng-disable="forgotUser.email">Submit</button>
                        <a class="btn btn-main btn-default btn-block" ng-click="showForgotPassword = false">Cancel</a>
                    </form>
                </div>
                <div class="new-user-form signin-form" ng-show="showForgotPasswordDone">
                    <h3>Link Sent</h3>
                    <p>Please check your email for a link to reset your password.</p>
                    <a class="btn btn-main btn-default btn-block" ng-click="showForgotPasswordDone = false">Ok</a>
                </div>

                <div class="new-user-form signin-form" ng-hide="working || showForgotPassword || showForgotPasswordDone || showTempUser">
                    <form ng-submit="authenticateUser(authUser)">
                        <fieldset ng-disabled="working">
                            <h4 class="question-title">Username</h4>
                            <input type="text" class="form-control username" ng-model="authUser.username" autocapitalize="off" required>
                            <h4 class="question-title">Password</h4>
                            <password password-text="authUser.password"></password>
                        </fieldset>
                        <button class="btn btn-main" ng-disabled="! (authUser.username &&  authUser.password)">Login</button>

                        <div class="alert alert-danger" ng-show="showError == 'auth-error'">
                            <i class="icon-exclamation-sign"></i> There was a problem authenticating. Please try again.
                        </div>

                        <a ng-click="showForgotPassword = true" href="javascript:void(0)">Forgot your password?</a>
                    </form>
                </div>

<!--                 <div class="auth-separator" style="margin-top: 25px; margin-bottom: 25px;">
                </div>

                <div class="btn-container">
                    <p class="btn-caption" style="margin-bottom: 15px;">This survey is being conducted to help inform ocean planning in the Central California region. Results will be posted to OceanSpaces.org.</p>
                    <a class="btn btn-main btn-default" href="/respond#/about">Learn more</a>
                </div>
 -->
                <div class="loading-indicator" ng-show="working">
                    <div class="bar">
                        <i class="sphere"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
