<div class="main">
    <!-- Fixed navbar -->
    <!-- Begin page content -->
    <div class="navbar navbar-default navbar-fixed-top"></div>
    <div ng-hide="forms" class="splash-update">
        <!-- <img class="p97" src="assets/img/point_97_logo.svg"/> -->
        <div class="update-box">
            <a class="btn btn-main update" href="itms-services://?action=download-manifest&url=https://s3-us-west-2.amazonaws.com/p97-deck/usvi-dev/DigitalDeck-dev.plist">Update Digital Deck</a>
            <br>
        </div>
    </div>

</div>
