<div id="wrap" class="menu-page complete-page">
    <!-- Fixed navbar -->
    <div mobilemenu></div>
    <div class="container">
            
        <div class="page-content">    
            <div class="info-content">
                <h3>Thank you for completing the Central Coast Monitoring Survey!</h3>

<p>If you have multiple monitoring projects to contribute, please click the yellow button below to take the survey for another project.</p>

<p>You can also revisit your unfinished surveys <a href="#/history">here</a>.</p>

<p>Are you a member of OceanSpaces.org? <a href="http://oceanspaces.org/user/register" target="_blank">Click here to join!</a></p>

<!--<p>Is your project or organization represented on OceanSpaces.org? <a href="http://oceanspaces.org/connect/group-admin" target="_blank">Click here to create your own group page!</a></p>-->

<p>Survey results will be aggregated and presented in a publicly accessible, interactive dashboard. The dashboard will be available on OceanSpaces.org in mid-summer 2014!</p>

<p>We are always interested in ways to improve our work, and we welcome your feedback! If you have comments on this survey, please share them with us by emailing <a href="mailto:benet.duncan@calost.org">benet.duncan@calost.org</a></p>

<p>For more information about MPA monitoring in the Central Coast, please visit the <a href="http://oceanspaces.org/monitoring/regions/central-coast/planning#long-term" target="_blank">Central Coast page</a> on <a href="http://oceanspaces.org" target="_blank">OceanSpaces.org</a>, or contact us at <a href="mailto:benet.duncan@calost.org">benet.duncan@calost.org</a>.</p> 

                <div class="btn-container">
                    <button class="btn btn-main btn-default" ng-click="newReportOnline('monitoring-project')">Take survey for another project</button>
                    <!--<a type="button" class="btn btn-main btn-default btn-block" href="#/history">Revisit Survey</a>-->
                </div>                    
                
           </div>
        </div>


    </div>
</div>

<!-- <div id="footer" ng-hide="sendingFeedback">
    <a class="btn pull-left" ng-click="skipBack()"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div> -->
