<div id="wrap" class="menu-page">
    <!-- Fixed navbar -->
    <div mobilemenu></div>
    <div class="container">
            
        <div class="page-content">    
            <div class="info-content">
                <h3>You have completed the survey.</h3>

                <!-- <div class="panel-body">
                    <div ng-controller="RespondentDetailCtrl"
                    ng-include="'/static/survey/views/ost/answers/surveyAnswers.html'"></div>
                </div>  -->
                
           </div>
        </div>


    </div>
</div>

<!-- <div id="footer" ng-hide="sendingFeedback">
    <a class="btn pull-left" ng-click="skipBack()"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div> -->