<div id="wrap" class="menu-page complete-page">
    <!-- Fixed navbar -->
    <div mobilemenu></div>
    <div class="container">
            
        <div class="page-content">    
            <div class="info-content">
                <h3>Thank you for completing the Central Coast Monitoring Survey!</h3>

<p>If you have more monitoring projects to contribute, please complete a separate survey for each project. You can also revisit your unfinished and completed surveys.</p>

<p>Are you a member of OceanSpaces.org? <a href="http://oceanspaces.org/user/register" target="_blank">Click here to join!</a></p>

<p>Is your project or organization represented on OceanSpaces.org? <a href="http://oceanspaces.org/connect/group-admin" target="_blank">Click here to create your own group page!</a></p>

<p>Survey results will be aggregated and presented in a publicly accessible, interactive dashboard. The dashboard will be available on OceanSpaces.org in July 2014!</p>

</p>For more information about MPA monitoring in the Central Coast or statewide, visit the <a href="http://oceanspaces.org/program/central-coast-ongoing-mpa-monitoring-program" target="_blank">Central Coast MPA Monitoring Program page</a> on OceanSpaces.org, or contact us at <a href="mailto:mpamonitoring@calost.org">mpamonitoring@calost.org</a>.</p> 

                <div class="btn-container">
                    <button class="btn btn-main btn-default btn-block" ng-click="newReportOnline('monitoring-project')">Take survey for another project</button>
                    <a type="button" class="btn btn-main btn-default btn-block" href="#/history">Revisit Survey</a>
                </div>                    
                
           </div>
        </div>


    </div>
</div>

<!-- <div id="footer" ng-hide="sendingFeedback">
    <a class="btn pull-left" ng-click="skipBack()"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div> -->
