<div class="container user-list">
    <div class="row" ng-cloak>
        <div class="col-md-3 col-sm-3 print-hide" ng-include="'/static/survey/views/admin-dash-menu.html'"></div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <div class="col-md-8">
                    <div ng-model="filter.type" bs-radio-group>
                        <!-- <label class="btn btn-default">
                            <input type="radio" class="btn btn-default" value="region">
                            Region
                        </label> -->
                        <label class="btn btn-default">
                            <input type="radio" class="btn btn-default" value="staff">
                            Staff
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" class="btn btn-default" value="fishers">
                            Fishers
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" class="btn btn-default" value="archived">
                            Archived
                        </label>
                        
                    </div>
                </div>
                <div class="col-md-4 filter-box">
                    <form class="form-inline" role="form">
                        <div class="form-group search-group col-md-7">
                            <label class="sr-only" for="search-input">Search</label>
                            <input type="search" class="form-control search-input" id="search-input" placeholder="Search" ng-model="searchTerm">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
            </div>
            <!-- <i ng-hide="loaded" class="icon-spinner icon-spin"></i> -->
            <table id="survey-landing-table" class="table table-striped">
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>
                            <a href="#/accounts/{{user.username}}"><h4>{{user.username}}
                                <span class="label label-success" ng-show="user.is_new">new</span>
                                <span class="label label-default" ng-show="user.profile.is_intern">intern</span>
                                <span class="label label-default" ng-show="user.is_staff && $parent.filter.type!='staff'">staff</span>
                            </h4></a>
                        </td>
                        <td>
                            <h4>{{ user.email }}</h4>
                        </td>
                        <!-- <td>
                            <h2 class="survey-num">{{survey.survey_responses || 0}}</h2>
                            <p>Total</p>
                        </td> -->
                        <!-- <td>
                            <h2 class="survey-num">{{survey.today || 0}}</h2>
                            <p>Today</p>
                        </td>
                        <td>
                            <h2 class="survey-num">{{survey.reviews_needed || 0}}</h2>
                            <p>Need Review</p>
                        </td>
                        <td>
                            <h2 class="survey-num">{{survey.flagged || 0}}</h2>
                            <p>Flagged</p>
                        </td> -->
                        <td ng-show="filter.type != 'archived'">
                            <div ng-hide="confirmDelete" class="btn-group pull-right">
                                <!-- <a target="_blank" class="btn btn-default icon-plus" href="/respond/{{survey.slug}}"></a>
                                <a target="_blank" class="btn btn-default icon-mobile-phone" href="/static/survey/mobile.html#/survey/{{survey.slug}}/{{survey.questions[0].slug}}/offline"></a> -->
                                <!-- <a class="btn btn-default icon-edit" href="#/author/{{ survey.slug }}"></a> -->
                                <!-- <a class="btn btn-default" href="#/author/{{ survey.slug }}">Edit</a> -->
                                <a class="btn btn-default" ng-click="confirmDelete = true">
                                    <i class="icon-trash"></i> Archive
                                </a>
                            </div>
                            <div class="btn-group pull-right" ng-show="confirmDelete">
                                <a class="btn btn-default btn-danger" ng-click="archiveUser(user)">Archive</a>
                                <a class="btn btn-default" ng-click="confirmDelete = false">Cancel</a>
                            </div>
                        </td>
                        <td ng-show="filter.type == 'archived'">
                            <div ng-hide="confirmActivate || confirmDelete" class="btn-group pull-right">
                                <!-- <a target="_blank" class="btn btn-default icon-plus" href="/respond/{{survey.slug}}"></a>
                                <a target="_blank" class="btn btn-default icon-mobile-phone" href="/static/survey/mobile.html#/survey/{{survey.slug}}/{{survey.questions[0].slug}}/offline"></a> -->
                                <!-- <a class="btn btn-default icon-edit" href="#/author/{{ survey.slug }}"></a> -->
                                <!-- <a class="btn btn-default" href="#/author/{{ survey.slug }}">Edit</a> -->
                                <a class="btn btn-default" ng-click="confirmActivate = true">
                                    Activate
                                </a>
                            </div>
                            <div class="btn-group pull-right" ng-show="confirmActivate">
                                <a class="btn btn-default btn-success" ng-click="activateUser(user)">Activate</a>
                                <a class="btn btn-default" ng-click="confirmActivate = false">Cancel</a>
                            </div>
                            <div ng-hide="confirmDelete || confirmActivate" class="btn-group pull-right">
                                <!-- <a target="_blank" class="btn btn-default icon-plus" href="/respond/{{survey.slug}}"></a>
                                <a target="_blank" class="btn btn-default icon-mobile-phone" href="/static/survey/mobile.html#/survey/{{survey.slug}}/{{survey.questions[0].slug}}/offline"></a> -->
                                <!-- <a class="btn btn-default icon-edit" href="#/author/{{ survey.slug }}"></a> -->
                                <!-- <a class="btn btn-default" href="#/author/{{ survey.slug }}">Edit</a> -->
                                <a class="btn btn-default" ng-click="confirmDelete = true">
                                    <i class="icon-trash"></i> Delete
                                </a>
                            </div>
                            <div class="btn-group pull-right" ng-show="confirmDelete">
                                <a class="btn btn-default btn-danger" ng-click="deleteUser(user)">Delete</a>
                                <a class="btn btn-default" ng-click="confirmDelete = false">Cancel</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        Showing {{ users.length }} of {{ meta.total_count }}
                        
                    </p>
                </div>
                <div class="col-md-4">
                    <ul class="pager">
                        <li class="previous" ng-class="{ 'disabled': !meta.next }">
                            <a ng-disabled="! meta.next" ng-click="getUsers(meta.next, true)">&larr; Previous</a>
                        </li>
                        <li class="next" ng-class="{ 'disabled': !meta.previous }">
                            <a ng-disabled="! meta.previous" ng-click="getUsers(meta.previous, true)">Next &rarr;</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-success pull-right" ng-click="showAddUserModal()">New User</a>
                </div>
            </div>
            
        </div>
    </div>
</div>