<div class="row">
    <div class="col-xs-12 col-sm-12">

        <div class="answer">
            <strong>Contextual Data Types:</strong>
            <span>{{ getAnswer('contextual-data-types') }}</span>
        </div>

        <div class="answer">
            <strong>Collected at all sites: </strong>
            <span>{{ getAnswer('cd-collection-locations') }}</span>
        </div>
        <div class="answer">
            <strong>Timing: </strong>
            <span>{{ getAnswer('cd-collection-timing') }}</span>
        </div>
        <div class="answer">
            <strong>Notes:</strong>
            <span>{{ getAnswer('cd-notes') }}</span>
        </div>


    </div>
</div>