<!--
This is used by the dashboard only. 
--> 
<div class="row">
   <div class="col-sm-12 col-md-12">
       <dl class="dl-horizontal">
            
            <p><strong>Organization: </strong>{{getAnswer('org-name')}}</p>
            
            <p><strong>Type: </strong>{{getAnswer('org-type')}}</p>
            <p><strong>Web site: </strong><span ng-show="orgUrl"><a target="_blank" class="dark" style="font-size:14px;" href="http://{{orgUrl}}">{{orgUrl}}</a></span></p>
            <div ng-show='user.username'>
                <span ng-show="orgAddress1">{{orgAddress1}}</br></span>
                <span ng-show="orgAddress2">{{orgAddress2}}</br></span>
                <span ng-show="orgCity">{{orgCity}}</span><span ng-show="orgCity && orgState">,</span>  {{orgState}} {{orgZipcode}}<span ng-show="orgCity || orgState || orgZipcode"></br></span>
                </br></span>
            </div>

            <p><strong>Participating organizations: </strong></p>
            <ul>
                <li ng-repeat="org in getAnswer('proj-collaborating-orgs')">{{org}}</li>
            </ul>


        </dl>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div dash-map-ost
             lat="mapSettings.lat"
             lng="mapSettings.lng"
             zoom="mapSettings.zoom"
             points="mapSettings.mapPoints"
             units="mapSettings.mapPlanningUnits"
             boundary-path="'/static/survey/data/oceanspaces_ca_cc_boundary.json?v=2'"
             show-popups="mapSettings.showPopups"
             slug-to-color="ecosystemSlugToColor(slug)"
             slug-to-label="ecosystemSlugToLabel(slug)"
             ></div>
    </div>
</div>

<div class="row margin-bottom " id="map-legend">
    <div class="col-sm-12 col-md-12">
        <ul class="list-unstyled">
            <li ng-repeat="slug in uniqueEcosystemFeatureSlugs">
                <div class="circle pull-left" ng-style="{'background-color': ecosystemSlugToColor(slug)};">&nbsp;</div> 
                {{ecosystemSlugToLabel(slug)}}
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="answer-panels">
            <div answers-panel 
                ng-hide="user.username"
                title="'Project Information / Data Sharing'" 
                html-content="viewPath + 'views/ost/answers/project.html'"
                species-answer="''"
                respondent="respondent"></div>

             <div answers-panel 
                ng-show="user.username"
                title="'Project Information / Data Sharing / Financial Info'" 
                html-content="viewPath + 'views/ost/answers/project.html'"
                species-answer="''"
                respondent="respondent"></div>


            <div answers-panel 
                title="'Data Collection'"
                html-content="viewPath + 'views/ost/answers/data.html'"
                species-answer="''"
                respondent="respondent"></div>


            <div ng-show="answerContains('ecosystem-features', 'Rocky Intertidal Ecosystems')">
                <div answers-panel 
                    title="'Rocky Intertidal Ecosystems'"
                    html-content="''"
                    species-answer="getAnswer('ef-rockyintertidal-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Kelp and Shallow (0-30m) Rock')">
                <div answers-panel 
                    title="'Kelp and Shallow (0-30m) Rock'"
                    html-content="''"
                    species-answer="getAnswer('ef-kelp-and-shallow-rock-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Mid depth (30-100m) Rock Ecosystems')">
                <div answers-panel 
                    title="'Mid depth (30-100m) Rock Ecosystems'"
                    html-content="''"
                    species-answer="getAnswer('ef-middepthrock-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Estuarine and Wetland Ecosystems')">
                <div answers-panel 
                    title="'Estuarine and Wetland Ecosystems'"
                    html-content="''"
                    species-answer="getAnswer('ef-estuarine-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Soft-bottom Intertidal and Beach Ecosystems')">
                <div answers-panel 
                    title="'Soft-bottom Intertidal and Beach Ecosystems'"
                    html-content="''"
                    species-answer="getAnswer('ef-softbottomintertidal-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Soft bottom Subtidal (0-100m) Ecosystems')">
                <div answers-panel 
                    title="'Soft bottom Subtidal (0-100m) Ecosystems'"
                    html-content="''"
                    species-answer="getAnswer('ef-softbottomsubtidal-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Deep Ecosystems and Canyons (>100m)')">
                <div answers-panel 
                    title="'Deep Ecosystems and Canyons (>100m)'"
                    html-content="''"
                    species-answer="getAnswer('ef-deep-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Nearshore Pelagic Ecosystems')">
                <div answers-panel 
                    title="'Nearshore Pelagic Ecosystems'"
                    html-content="''"
                    species-answer="getAnswer('ef-nearshore-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Consumptive Uses')">
                <div answers-panel 
                    title="'Consumptive Uses'"
                    html-content="''"
                    species-answer="getAnswer('ef-consumptive-species')"
                    respondent="respondent"></div>
            </div>


            <div ng-show="answerContains('ecosystem-features', 'Non-consumptive Uses')">
                <div answers-panel 
                    title="'Non-consumptive Uses'"
                    html-content="''"
                    species-answer="getAnswer('ef-nonconsumptive-species')"
                    respondent="respondent"></div>
            </div>





            <div answers-panel 
                title="'Contextual Data'"
                html-content="viewPath + 'views/ost/answers/contextual-data.html'"
                species-answer="''"
                respondent="respondent"></div>


            <!-- <div answers-panel 
                title="'Financial Support'"
                html-content="viewPath + 'views/ost/answers/financial.html'"
                species-answer="''"
                respondent="respondent"></div>
            </div> -->

            <!-- <div answers-panel 
                title="'Future Monitoring'"
                html-content="viewPath + 'views/ost/answers/future.html'"
                species-answer="''"
                respondent="respondent"></div>
            </div> -->
        </div>
    </div>
</div>