<div class="row">
    <div class="col-xs-12 col-sm-12">

        <div class="answer">
            <strong>Ecosystem features monitored:</strong>
            <span>{{ getAnswer('ecosystem-features') }}</span>
        </div>


        <h4>Learning more about the data</h4>
        <div class="answer">
            <strong>Years of data collection: </strong>
            <span>{{ getAnswer('proj-data-years') }}</span>
        </div>
        <div class="answer">
            <strong>Frequency of data collection: </strong>
            <span>{{ getAnswer('proj-data-frequency') }}</span>
        </div>
        <div class="answer">
            <strong>Number of sites: </strong>
            <span>{{ getAnswer('proj-num-sites') }}</span>
        </div>
        <div class="answer">
            <strong>Availability of collected data:</strong>
            <span>{{ getAnswer('proj-data-availability') }}</span>
        </div>
        <div class="answer">
            <strong>Data URL:</strong>
            <span>{{ getAnswer('proj-public-data') }}</span>
        </div>


    </div>
</div>