<div class="row">
    <div class="col-xs-12 col-sm-12">

        <div class="answer">
            <strong>Future monitoring: </strong>
            <span>{{ getAnswer('future-monitoring-yes-no') }}</span>
        </div>
        <div class="answer">
            <strong>Future monitoring ecosystems: </strong>
            <span>{{ getAnswer('future-monitoring-ecosystems') }}</span>
        </div>
        <div class="answer">
            <strong>Future Monitoring Subjects:</strong>
            <span>{{ getAnswer('future-monitoring-subjects') }}</span>
        </div>
    </div>
</div>