{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{%block title %}Dashboard Log in{% endblock %}
{% block extrahead %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXXX', 'pointnineseven.com'); ga('send', 'pageview');
</script>
{% endblock %}
{% block stylesheets %}
<link href="{{ STATIC_URL }}survey/lib/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}survey/assets/css/topNav.css">
<style>
html, #grp-content-container {
    background-color: #72AFB6;
}
.container {
    margin-top: 10%;
}
#grp-navigation, #grp-navigation h1, #grp-context-navigation {
    display: none;
}
h1 {
    text-align: center;
}
#login-form {
    margin-top: 20px;
}
#login-form input,
#login-form li {
    border-radius: 0px;
    /*float: right;*/
    margin-bottom: 1em;
    list-style-type: none;
    padding: 12px;
    height: 100%;
}
#login_text {
    color: #FFF;
    margin: 3em auto;
    max-width: 40em;
    text-align: center;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#login_text h2 {
    
    font-weight: 100;    
    letter-spacing: 2px;
}
#login-form input[type=text], input[type=password] {
    clear: right;
}
#login-row, .submit-row {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 392px;
    margin: 0 auto;
    text-align: center;
}
.submit-row input, #login_btn {
    color: #000;
    background-color: #f6c431;
    border-radius: 0px;
    padding-left: 60px;
    padding-right: 60px;
}
.submit-row input:hover {
    background-color: #b6b564;
}
.forgot-row a {
    float: right;
    color: #fff;
}
/*#login-row {
    background-color: #82B4C0;
}*/
</style>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<nav class="navbar navbar-default header" role="navigation" ng-controller="SurveyListMenuCtrl" ng-cloak>
    <div>
        <ul class="nav navbar-nav navbar-left">
            <li class="navbar-brand"><img class="oceanspaces-logo" src="{{STATIC_URL}}survey/assets/img/oceanspaces-logo-white.png"></img></li>
            <li><a class="navbar-brand" href="http://pointnineseven.com/"><img class="point97-logo" src="{{STATIC_URL}}survey/assets/img/point_97_logo.png"></img></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block container %}
    <div id="login_text">
        <h2>MPA Monitoring Framework Survey: Central Coast Results</h2>
    </div>
    <div id="login-row" class="row">
        {% block hapifis_content %}
        {% endblock %}
    </div>
    <div class="row">
        {% block hapifis_content_nobg%}
        {% endblock %}
    </div>
    {% endblock %}
</div>
<div id="footer" style="margin-top: 40px">
    <div class="container">
        <p class="pull-right text-muted">&copy; 2014, Point 97</p>
    </div>
</div>
{% endblock %}
